
<!--Call spinner-->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="rgb(152, 214, 218)" type="timer">
    <p style="font-size: 20px; color: white; margin-top: 2px;">Espere mientra se procesa su orden...</p>
</ngx-spinner>


<div *ngIf="orderDetail?.Items?.length > 0">

    <br>
    <div class="row">
        <div class="col-md-12">
            <h4 class="bold center">Estado de mi carrito</h4>
        </div>
    </div>


    <div class="row">

        <div class="col-md-12">
            <br>
            <div class="card">

                <h6 style="margin-top: 8px;" class="header-detail"> <span class="bold">Orden : </span>#
                    {{orderDetail.Id}}
                </h6>
                <h6 class="header-detail"> <span class="bold">Fecha : </span>{{orderDetail.Date}}</h6>
                <h6 class="header-detail"> <span class="bold">Estado : </span>{{orderDetail.Status}}</h6>

            </div>
        </div>

    </div>


    <div class="row">

        <div class="col-md-12">

            <div class="card">

                <div class="table-responsive">
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Descripción</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Subtotal</th>
                                <th>ITBIS</th>
                                <th>Total</th>
                                <th>Comentario</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr *ngFor="let item of orderDetail.Items">
                                <td>{{item.ArticleId}}</td>
                                <td>{{item.Title}}</td>
                                <td>{{item.Quantity}}</td>
                                <td>{{item.Price | currency}}</td>
                                <td>{{item.Subtotal | currency}}</td>
                                <td>{{item.ITBIS | currency}}</td>
                                <td>{{item.TotalAmount | currency}}</td>
                                <td>{{item.Comment}}</td>
                                <td>
                                    <button class="btn btn-primary bold" (click)="openModalAddArticle(item)">
                                        Detalles/Editar</button>
                                </td>
                                <td>
                                    <button class="btn btn-danger bold" (click)="deleteArticle(item)">Eliminar</button>
                                </td>
                            </tr>

                        </tbody>

                    </table>
                </div>


            </div>

            <div class="row">

                <div class="col-md-9">

                    <textarea id="address" [(ngModel)]="address" class="form-control bold"
                        placeholder="Ingrese la dirección donde desea recibir su orden" rows="2">

                    </textarea>
                    <br>

                </div>

                <div class="col-md-3">

                    <div class="card">

                        <div class="table-responsive">
                            <table class="table table-hover table-condensed detail-resumen">

                                <tbody>
                                    <tr>
                                        <td class="bold">Subtotal</td>
                                        <td>{{orderDetail.Subtotal | currency: "RD$"}}</td>
                                    </tr>

                                    <tr>
                                        <td class="bold">Descuento</td>
                                        <td>{{orderDetail.Discount | currency: "RD$"}}</td>
                                    </tr>

                                    <tr>
                                        <td class="bold">ITBIS</td>
                                        <td>{{orderDetail.ITBIS | currency: "RD$"}}</td>
                                    </tr>

                                    <tr class="bold">
                                        <td>Total</td>
                                        <td>{{orderDetail.TotalAmount | currency: "RD$"}}</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>

                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-md-9">

                </div>

                <div class="col-md-3">

                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-success btn-payment" (click)="checkoutOrden()">Pagar</button>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <br>
    <br>

</div>


<div *ngIf="!orderDetail?.Items?.length > 0">

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <h4 class="bold center">{{orderDetailEmpty}}</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button (click)="goToPortada()" class="btn btn-primary center bold"
                style="width: 220px; font-size: 15px; border-radius: 15px; margin-top: 10px;">Empezar a llenar mi carrito</button>
        </div>
    </div>

</div>


<ng-template #buyArticle let-modal>
    <div class="modal-header">
        <h4 class="modal-title">
            {{currentArticle.Title}} <span class="price_Style" style="font-style: italic; font-weight: bold;">Precio: {{currentArticle.Price | currency}} <span style="font-size: 12px; color: red;">{{currentArticle.CurrencyCode}}</span> </span>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="cold-md-4">
                <img style="border-radius: 15px; margin-left: 5px;"
                    src="{{coreURL}}api/market/GetImageByArticleId?id={{currentArticle.ArticleId}}&width=125&height=125">
            </div>

            <div class="cold-md-8">
                
                <h6 *ngIf="currentArticle.UseStock" class="bold" style="margin-left: 15px; margin-right: 5px;">
                    Existencia:
                    {{currentArticle.Stock}}</h6>

                <h6 *ngIf="currentArticle.MinQuantity" class="bold" style="margin-left: 15px; margin-right: 5px;">Venta
                    mínima: {{currentArticle.MinQuantity}}</h6>

                <h6 *ngIf="currentArticle.MaxQuantity" class="bold" style="margin-left: 15px; margin-right: 5px;">Venta
                    maxima: {{currentArticle.MaxQuantity}}</h6>

                <h6 class="bold" style="margin-left: 15px; margin-right: 5px;">Vendedor: {{provider}}</h6>
                <h6 class="bold" style="margin-left: 15px; margin-right: 5px;">Contacto: {{providerPhoneNumber}}</h6>

                <h6 class="bold" style="margin-left: 15px; margin-right: 5px; margin-top: 12px;">Cantidad a comprar: <input type="number"
                        class="bold price_Style" style="border-radius: 8px; width: 60px;"
                        [(ngModel)]="currentArticleQuantity"></h6>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label for="note" class="bold">Ingrese su nota si deseas</label>
                <textarea [(ngModel)]="itemNote" class="form-control" rows="2">

                </textarea>
            </div>
        </div>

        <div class="row center">
            <div class="cold-md-12">
                <button type="button" (click)="addArticle(currentArticle, currentArticleQuantity, itemNote)"
                    class="btn btn-success bold"
                    style="width: 250px; border-radius: 15px; margin-left: 15px; margin-right: 5px; margin-top: 10px; font-size: 16px;">Guardar</button>
            </div>
        </div>

        <div *ngIf="showButtonDeleteItem" class="row center">
            <div class="cold-md-12">
                <button type="button" (click)="deleteArticle(currentArticle)" class="btn btn-danger bold"
                    style="width: 250px; border-radius: 15px; margin-left: 15px; margin-right: 5px; margin-top: 10px; font-size: 16px;">Eliminar
                    del carrito</button>
            </div>
        </div>

    </div>
</ng-template>


<ng-template #checkoutOrdenModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title bold">Seleccione un método de pago</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div>

            <div class="row">
                <div class="col-md-12">
                    <button (click)="getPaymentMethod('Card', 'Tarjeta')"
                        class="btn btn-primary center bold"
                        style="width: 220px; font-size: 20px; border-radius: 15px;">Tarjeta</button>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-md-12">
                    <button (click)="getPaymentMethod('Effective', 'Efectivo')" class="btn btn-primary center bold"
                        style="width: 220px; font-size: 20px; border-radius: 15px;">Efectivo</button>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-md-12">
                    <button (click)="getPaymentMethod('Transference', 'Transferencia')"
                        class="btn btn-primary center bold"
                        style="width: 220px; font-size: 20px; border-radius: 15px;">Transferencia</button>
                </div>
            </div>

        </div>

    </div>
</ng-template>


<ng-template #cardModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Información de la tarjeta</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-md-4 bold">Número de tarjeta</div>
            <div class="col-md-6"> <input type="number" placeholder="0000 0000 0000 0000"> </div>
        </div>

        <div class="row" style="margin-top: 8px;">
            <div class="col-md-4 bold">Válida hasta</div>
            <div class="col-md-6"> <input type="text" placeholder="MM AA"> </div>
        </div>

        <div class="row" style="margin-top: 8px;">
            <div class="col-md-4 bold">Cédula de identidad</div>
            <div class="col-md-6"> <input type="text" placeholder="000 0000000 0"> </div>
        </div>

        <br>
        <h6 style="font-style: italic" class="bold"><span style="color: red;">Nota: </span>Estos datos no serán manipulados ni procesados en la plataforma. Los mismos serán procesados por la entidad encargada de procesar el pago.</h6>
        <br>
        <div class="row">
            <div class="col-md-12">
                <button (click)="checkoutCardPay()" class="btn btn-primary bold btn-large btn-block" style="font-size: 20px; border-radius: 15px;">Aceptar</button>
            </div>
        </div>
        <br>

    </div>
</ng-template>