

<!--Contenedor principal-->
<div class="container-fluid" style="width: 90%;">

    <h3>Mantenimiento de Docentes</h3>
    <br>
  
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-12">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="searchText"
            [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </div>
  
    <div class="table-responsive">
      <table class="table table-hover table-bordered table-condensed">
        <thead>
          <tr class="tabl_eHeader_Color">
            <th>Código</th>
            <th>Nombre completo</th>
            <th>No.Documento</th>
            <th class="right">Detalles</th>
            <th class="right"></th>
            <th class="right"><button type="button" class="btn btn-success" (click)="openCreateModal(createModal)" [disabled]="!canCreate"><i
                  class="fa fa-plus"></i>&nbsp;Nuevo</button></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of docents | filter : searchText | paginate: { itemsPerPage: 6, currentPage: _currentPage}">
            <td>{{item.Id}}</td>
            <td>{{item.FullName}}</td>
            <td>{{item.DocumentNumber}}</td>
            <td class="right"> <button (click)="openDetailModal(item.Id)"> <i class="fa fa-eye"></i> </button> </td>
            <td class="right"> <button type="button" class="btn btn-danger" (click)="delete(item.Id)" [disabled]="!canDelete"><i class="fa fa-remove"></i>&nbsp;Eliminar</button> </td>
            <td class="right"><button type="button" class="btn btn-primary" (click)="openEditModal(editModal, item.Id)" [disabled]="!canEdit"><i
                  class="fa fa-pencil"></i>&nbsp;Editar</button></td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="_currentPage = $event" autoHide="true" responsive="true" previousLabel="Anterior"
        nextLabel="Siguiente">
      </pagination-controls>
    </div>
  
</div>


<!--Create modal-->
<ng-template #createModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Nuevo registro</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
  
      <form [formGroup]="createDocentForm" (submit)="create(createDocentForm.value)">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
  
                  <label for="firstName">Primer nombre</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-info"></i></span>
                    </div>
                    <input type="text" formControlName="firstName" class="form-control" placeholder="Primer nombre">
                    <div *ngIf="!createDocentForm.value.firstName" class="required">*</div>
                  </div>

                  <label for="secondName">Segundo nombre</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-info"></i></span>
                    </div>
                    <input type="text" formControlName="secondName" class="form-control" placeholder="Segundo nombre">
                  </div>

                  <label for="surname">Primer apellido</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-info"></i></span>
                    </div>
                    <input type="text" formControlName="surname" class="form-control" placeholder="Primer apellido">
                    <div *ngIf="!createDocentForm.value.surname" class="required">*</div>
                  </div>

                  <label for="secondSurname">Segundo apellido</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-info"></i></span>
                    </div>
                    <input type="text" formControlName="secondSurname" class="form-control" placeholder="Segundo apellido">
                  </div>
                  
                  <label for="birthDate">Fecha de nacimiento</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-info"></i></span>
                    </div>
                    <input type="date" formControlName="birthDate" class="form-control">
                    <div *ngIf="!createDocentForm.value.birthDate" class="required">*</div>
                  </div>

                  <label for="documentTypeID">Tipo de documento</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i></i></span>
                    </div>
                    <select formControlName="documentTypeID" class="form-control">
                      <option value=""></option>
                      <option *ngFor="let item of documenTypes" [value]="item.Id">{{item.Description}}</option>
                    </select>
                    <div *ngIf="!createDocentForm.value.documentTypeID" class="required">*</div>
                  </div>

                  <label for="documentNumber">No.Documento</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-info"></i></span>
                    </div>
                    <input type="text" formControlName="documentNumber" class="form-control" placeholder="No.Documento">
                    <div *ngIf="!createDocentForm.value.documentNumber" class="required">*</div>
                  </div>

                  <label for="phone">Teléfono</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-info"></i></span>
                    </div>
                    <input type="text" formControlName="phone" class="form-control" placeholder="Teléfono">
                  </div>
  
                  <label for="address">Dirección</label>                               
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text"></span>
                      </div>
                      <textarea formControlName="address" class="form-control"
                          placeholder="Dirección">
                           {{docent.Address}}
                      </textarea>
                      <div *ngIf="!createDocentForm.value.address" class="required">*</div>
                   </div>

                   <label for="areaId">Area que imparte</label>
                   <div class="input-group mb-3">
                     <div class="input-group-prepend">
                       <span class="input-group-text"><i></i></span>
                     </div>
                     <select formControlName="areaId" class="form-control">
                       <option value=""></option>
                       <option *ngFor="let item of areas" [value]="item.Id">{{item.Name}}</option>
                     </select>
                     <div *ngIf="!createDocentForm.value.areaId" class="required">*</div>
                   </div>

                   <label for="educativeCenterId">Centro educativo que pertenece</label>
                   <div class="input-group mb-3">
                     <div class="input-group-prepend">
                       <span class="input-group-text"><i></i></span>
                     </div>
                     <select formControlName="educativeCenterId" class="form-control">
                       <option value=""></option>
                       <option *ngFor="let item of centers" [value]="item.Id">{{item.Name}}</option>
                     </select>
                     <div *ngIf="!editDocentForm.value.educativeCenterId" class="required">*</div>
                   </div>
  
                </div>
              </div>
            </div>
            <!--/.col-->
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary" [disabled]="createDocentForm.invalid">Crear</button>
            </div>
            <!--/.row-->
          </div>
        </div>
      </form>
  
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cerrar</button>
    </div>
</ng-template>


<!--Edit modal-->
<ng-template #editModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Editando al docente &nbsp;</h4>
        <h4 class="modal-title"><i>{{docent.FullName}}</i></h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
  
        <form [formGroup]="editDocentForm" (submit)="edit(editDocentForm.value)">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                            </div>
                            
                            <div class="card-body">
  
                                <label for="firstName">Primer nombre</label>
                                <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-info"></i></span>
                                  </div>
                                  <input type="text" formControlName="firstName" class="form-control" placeholder="Primer nombre">
                                  <div *ngIf="!editDocentForm.value.firstName" class="required">*</div>
                                </div>
              
                                <label for="secondName">Segundo nombre</label>
                                <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-info"></i></span>
                                  </div>
                                  <input type="text" formControlName="secondName" class="form-control" placeholder="Segundo nombre">
                                </div>
              
                                <label for="surname">Primer apellido</label>
                                <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-info"></i></span>
                                  </div>
                                  <input type="text" formControlName="surname" class="form-control" placeholder="Primer apellido">
                                  <div *ngIf="!editDocentForm.value.surname" class="required">*</div>
                                </div>
              
                                <label for="secondSurname">Segundo apellido</label>
                                <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-info"></i></span>
                                  </div>
                                  <input type="text" formControlName="secondSurname" class="form-control" placeholder="Segundo apellido">
                                </div>
              
                                <label for="fullName">Nombe completo</label>
                                <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-info"></i></span>
                                  </div>
                                  <input type="text" formControlName="fullName" class="form-control" placeholder="Nombe completo" [readonly]="true">
                                </div>
                                
                                <label for="birthDate">Fecha de nacimiento</label>
                                <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-info"></i></span>
                                  </div>
                                  <input type="date" formControlName="birthDate" class="form-control">
                                  <div *ngIf="!editDocentForm.value.birthDate" class="required">*</div>
                                </div>
              
                                <label for="documentTypeID">Tipo de documento</label>
                                <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i></i></span>
                                  </div>
                                  <select formControlName="documentTypeID" class="form-control">
                                    <option value=""></option>
                                    <option *ngFor="let item of documenTypes" [value]="item.Id">{{item.Description}}</option>
                                  </select>
                                  <div *ngIf="!editDocentForm.value.documentTypeID" class="required">*</div>
                                </div>
              
                                <label for="documentNumber">No.Documento</label>
                                <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-info"></i></span>
                                  </div>
                                  <input type="text" formControlName="documentNumber" class="form-control" placeholder="No.Documento">
                                  <div *ngIf="!editDocentForm.value.documentNumber" class="required">*</div>
                                </div>
              
                                <label for="phone">Teléfono</label>
                                <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-info"></i></span>
                                  </div>
                                  <input type="text" formControlName="phone" class="form-control" placeholder="Teléfono">
                                </div>
                
                                <label for="address">Dirección</label>                               
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"></span>
                                    </div>
                                    <textarea formControlName="address" class="form-control"
                                        placeholder="Dirección">
                                         {{docent.Address}}
                                    </textarea>
                                    <div *ngIf="!editDocentForm.value.address" class="required">*</div>
                                 </div>
              
                                 <label for="areaId">Area que imparte</label>
                                 <div class="input-group mb-3">
                                   <div class="input-group-prepend">
                                     <span class="input-group-text"><i></i></span>
                                   </div>
                                   <select formControlName="areaId" class="form-control">
                                     <option value=""></option>
                                     <option *ngFor="let item of areas" [value]="item.Id">{{item.Name}}</option>
                                   </select>
                                   <div *ngIf="!editDocentForm.value.areaId" class="required">*</div>
                                 </div>

                                 <label for="educativeCenterId">Centro educativo que pertenece</label>
                                 <div class="input-group mb-3">
                                   <div class="input-group-prepend">
                                     <span class="input-group-text"><i></i></span>
                                   </div>
                                   <select formControlName="educativeCenterId" class="form-control">
                                     <option value=""></option>
                                     <option *ngFor="let item of centers" [value]="item.Id">{{item.Name}}</option>
                                   </select>
                                   <div *ngIf="!editDocentForm.value.educativeCenterId" class="required">*</div>
                                 </div>
                
                              </div>

                        </div>
                    </div>
                    <!--/.col-->
                </div>
                <!--/.row-->
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary" [disabled]="editDocentForm.invalid">Guardar</button>
                    </div>
                    <!--/.row-->
                </div>
            </div>
        </form>
  
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cerrar</button>
    </div>
</ng-template>


<!--Details Modal -->
<ng-template #details let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Información del docente &nbsp;</h4>
    <h4 class="modal-title"><i>{{docentPersonInfo.FullName}}</i></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <ngb-tabset [destroyOnHide]="false">

      <!--Tab gerenal-->
      <ngb-tab title="General">
        <ng-template ngbTabContent>

          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                  </div>
                  <div class="card-body">
    
                    <div class="row">
                      <div class="col-sm-5">
                        <span class="form-control bold">Primer nombre</span>
                      </div>
                      <div class="col-sm-7">
                        <span class="form-control">{{docentPersonInfo.FirstName}}</span>
                      </div>
                    </div>

                    <br>
                    <div class="row">
                      <div class="col-sm-5">
                        <span class="form-control bold">Segundo nombre</span>
                      </div>
                      <div class="col-sm-7">
                        <span class="form-control">{{docentPersonInfo.SecondName}}</span>
                      </div>
                    </div>

                    <br>
                    <div class="row">
                      <div class="col-sm-5">
                        <span class="form-control bold">Primer apellido</span>
                      </div>
                      <div class="col-sm-7">
                        <span class="form-control">{{docentPersonInfo.Surname}}</span>
                      </div>
                    </div>
                    
                    <br>
                    <div class="row">
                      <div class="col-sm-5">
                        <span class="form-control bold">Segundo apellido</span>
                      </div>
                      <div class="col-sm-7">
                        <span class="form-control">{{docentPersonInfo.SecondSurname}}</span>
                      </div>
                    </div>

                    <br>
                    <div class="row">
                      <div class="col-sm-5">
                        <span class="form-control bold">Nombre completo</span>
                      </div>
                      <div class="col-sm-7">
                        <span class="form-control">{{docentPersonInfo.FullName}}</span>
                      </div>
                    </div>

                    <br>
                    <div class="row">
                      <div class="col-sm-5">
                        <span class="form-control bold">Fecha de cumpleaño</span>
                      </div>
                      <div class="col-sm-7">
                        <span class="form-control">{{docentPersonInfo.BirthDate}}</span>
                      </div>
                    </div>

                    <br>
                    <div class="row">
                      <div class="col-sm-5">
                        <span class="form-control bold">{{docentPersonInfo.DocumentType}}</span>
                      </div>
                      <div class="col-sm-7">
                        <span class="form-control">{{docentPersonInfo.DocumentNumber}}</span>
                      </div>
                    </div>

                    <br>
                    <div class="row">
                      <div class="col-sm-5">
                        <span class="form-control bold">Teléfono</span>
                      </div>
                      <div class="col-sm-7">
                        <span class="form-control">{{docentPersonInfo.Phone}}</span>
                      </div>
                    </div>

                    <br>
                    <div class="row">
                      <div class="col-sm-5">
                        <span class="form-control bold">Dirección</span>
                      </div>
                      <div class="col-sm-7">
                        <textarea class="form-control textarea">
                           {{docentPersonInfo.Address}}
                        </textarea>
                      </div>
                    </div>

                    <br>
                    <div class="row">
                      <div class="col-sm-5">
                        <span class="form-control bold">Area que imparte</span>
                      </div>
                      <div class="col-sm-7">
                        <span class="form-control">{{docentPersonInfo.Area}}</span>
                      </div>
                    </div>

                    <br>
                    <div class="row">
                      <div class="col-sm-5">
                        <span class="form-control bold">Centro educativo que pertenece</span>
                      </div>
                      <div class="col-sm-7">
                        <span class="form-control">{{docentPersonInfo.EducativeCenter}}</span>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <!--/.col-->
            </div>

          </div>

        </ng-template>
      </ngb-tab>

      <!--Tab acompañamientos-->
      <ngb-tab title="Acompañamientos">
        <ng-template ngbTabContent>

          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                  </div>
                  <div class="card-body">

                  </div>
                </div>
              </div>
              <!--/.col-->
            </div>

          </div>

        </ng-template>
      </ngb-tab>

    </ngb-tabset>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>