<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Mi perfil</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="userForm" (submit)="currentUserOnSubmit(userForm.value)">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">

              </div>
              <div class="card-body">
                <div class="form-group">
                  <a *ngIf="imgProfileOriginServer">
                    <img src="{{coreURL}}api/common/GetImageProfileByUserId?id={{userId}}&width={{img_Width}}&height={{img_height}}" class="user-image" alt="User Image"
                      class="center img-avatar">
                  </a>

                  <a *ngIf="imgProfileOriginServer == false">
                    <img src="{{imgProfile.base64}}" class="user-image" alt="User Image" class="center img-avatar"
                      style="width: 200; height: 140px;">
                  </a>

                  <div class="form-group">
                    <input fileToBase64 type="file" [(files)]="inputFiles" (filesChange)="uploadFile($event)"
                      multiple="" accept='image/*'>
                  </div>

                  <div *ngIf="inputFiles !== '' && buttonUpdateUserImg" class="row">
                    <div class="cold-md-12 center">
                      <button type="button" class="btn btn-primary button_size"
                        (click)="updateProfileImg()">Actualizar imagen</button>
                    </div>
                  </div>

                  <div *ngIf="!buttonUpdateUserImg" class="row">
                    <div class="cold-md-12 center">
                      <button type="button" class="btn btn-primary button_size">
                        <span style="color: white; font-size: 20px;">Espere mientras se actualiza su foto...</span> <i class="fa fa-circle-o-notch fa-spin"
                          style="font-size:30px; color: rgb(60, 170, 16);"></i>
                      </button>
                    </div>
                  </div>

                </div>
                <div class="form-group">
                  <label for="usuario">Usuario</label>
                  <input type="text" class="form-control" id="usuario" formControlName="userName" readonly>
                  <span *ngIf="!userForm.value.userName" class="required">*</span>
                </div>
                <div class="form-group">
                  <label for="emailAddress">Correo electronico</label>
                  <input type="email" class="form-control" id="emailAddress" formControlName="emailAddress">
                  <span *ngIf="!userForm.value.emailAddress" class="required">*</span>
                </div>
                <div class="form-group">
                  <label for="name">Nombres</label>
                  <input type="text" class="form-control" id="name" formControlName="name">
                  <span *ngIf="!userForm.value.name" class="required">*</span>
                </div>
                <div class="form-group">
                  <label for="surName">Apellidos</label>
                  <input type="text" class="form-control" id="surName" formControlName="surName">
                  <span *ngIf="!userForm.value.surName" class="required">*</span>
                </div>
                <div class="form-group">
                  <label for="phoneNumber">Celular</label>
                  <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
                  <span *ngIf="!userForm.value.phoneNumber" class="required">*</span>
                </div>
              </div>
            </div>
          </div>
          <!--/.col-->
        </div>
        <!--/.row-->
        <div class="row">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary buttonSize_Standar_Save"
              [disabled]="userForm.invalid">Guardar</button>
          </div>
          <!--/.row-->
        </div>
      </div>
    </form>


  </div>
</ng-template>