<div class="container">

    <form [formGroup]="createForm" (submit)="create(createForm.value)">

        <!--step1-->
        <div *ngIf="step1">

            <h3 class="title">Estimado usuario favor complete los campos para procesar su turno</h3>
            <br>
            <br>

            <div class="row">
                <div class="col-md-4">
                    <h4 class="label">Empresa ó Servicio:</h4>
                </div>
                <div class="col-md-8">
                    <ng-select class="bold" [items]="enterprises" bindLabel="Name" bindValue="Id" virtualScroll="true"
                        placeholder="Puede filtrar por Nombre" formControlName="enterpriseId">

                    </ng-select>
                    <div *ngIf="!createForm.value.enterpriseId" class="required">Campo obligatorio</div>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-md-4">
                    <h4 class="label">Nombre completo:</h4>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control bold" formControlName="name">
                    <div *ngIf="!createForm.value.name" class="required">Campo obligatorio</div>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-md-4">
                    <h4 class="label">Teléfono:</h4>
                </div>
                <div class="col-md-8">
                    <input type="number" class="form-control bold" formControlName="phoneNumber" placeholder="000-000-0000">
                    <div *ngIf="!createForm.value.phoneNumber" class="required">Campo obligatorio</div>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-md-4">
                    <h4 class="label">Comentario:</h4>
                </div>
                <div class="col-md-8">
                    <textarea formControlName="comment" class="form-control bold" placeholder="Campo opcional">
                    </textarea>
                </div>
            </div>
            <br>
            <br>

            <div class="row right">
                <div class="col-md-12">
                    <button type="button" [disabled]="createForm.invalid" class="btn btn-primary btn-Next"
                        (click)="nextStep2(createForm.value)">Siguiente</button>
                </div>
            </div>

        </div>

        <!--step2-->
        <div *ngIf="step2">

            <h3 class="title">Estimado usuario favor revise los datos, antes de confirmar su turno</h3>
            <br>
            <br>

            <h4 class="sub-title">Datos de la Empresa ó Servicio</h4>
            <br>

            <a>
                <img src="{{appointmentDetail.EnterpriseImage}}" class="center" style="width: 200; height: 140px;">
            </a>
            
            <br>
            <div class="row">
                <div class="col-md-4">
                    <h4 class="label">Nombre:</h4>
                </div>
                <div class="col-md-8">
                    <textarea class="form-control bold">{{appointmentDetail.EnterpriseName}}</textarea>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-md-4">
                    <h4 class="label">Dirección:</h4>
                </div>
                <div class="col-md-8">
                    <textarea class="form-control bold">{{appointmentDetail.EnterpriseAddress}}</textarea>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-md-4">
                    <h4 class="label">Teléfono:</h4>
                </div>
                <div class="col-md-8">
                    <span class="form-control bold">{{appointmentDetail.EnterprisePhoneNumber}}</span>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-md-4">
                    <h4 class="label">Tiempo estimado por servicio:</h4>
                </div>
                <div class="col-md-8">
                    <span class="form-control bold">{{appointmentDetail.EnterpriseServiceTime}}&nbsp;minutos</span>
                </div>
            </div>


            <br>
            <br>
            <br>
            <h4 class="sub-title">Datos del Solicitante</h4>

            <br>
            <div class="row">
                <div class="col-md-4">
                    <h4 class="label">Nombre:</h4>
                </div>
                <div class="col-md-8">
                    <textarea class="form-control bold">{{appointmentDetail.UserName}}</textarea>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-md-4">
                    <h4 class="label">Teléfono:</h4>
                </div>
                <div class="col-md-8">
                    <span class="form-control bold">{{appointmentDetail.PhoneNumber}}</span>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-md-4">
                    <h4 class="label">Comentario:</h4>
                </div>
                <div class="col-md-8">
                    <textarea class="form-control bold">{{appointmentDetail.Comment}}</textarea>
                </div>
            </div>

            <br>
            <br>
            <div class="row center">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary btn-Next"
                        (click)="backStep1(createForm.value)">Atrás</button>
                </div>
            </div>

            <br>
            <div class="row center">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-Next">Confirmar</button>
                </div>
            </div>

        </div>

        <br>
        <br>

    </form>

</div>