
.required{
  color: red;
  font-weight: bold;
  font-size: 14px;
}

.label{
  color: rgb(40, 40, 153);
}

.title{
  color: rgba(3, 3, 54, 0.863);
  font-weight: bold;
}

.sub-title{
  color: rgba(230, 19, 29, 0.863);
  font-weight: bold;
}

.btn-Next{
  font-size: 23px;
  width: 140px;
  border-radius: 17px;
}

