<div class="container">

    <form [formGroup]="checkAppointmentForm" (submit)="checkAppointment(checkAppointmentForm.value)">

        <h3 class="title">Revisa tus visitas pendientes por los siguientes campos</h3>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4">
                <label class="label">Número de turno ó cita</label>
                <input type="number" class="form-control bold" formControlName="number" placeholder="#">
            </div>
            <div class="col-md-4">
                <label class="label">Teléfono</label>
                <input type="number" class="form-control bold" formControlName="phoneNumber" placeholder="000-000-0000">
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary btn-searh">Buscar</button>
            </div>
        </div>

        <br>
        <br>
        <div>
            <h5 class="bold" style="color: red;">{{appointments.Message}}</h5>
            <div class="card">
                <div class="card-body appointment">
                    <div *ngFor="let item of appointments.AppointmentId">
                        <hr>
                        <span class="bold">#&nbsp;{{item.Id}}&nbsp;&nbsp;&nbsp;<button
                                (click)="getCheckAppointmentDetail(item.Id)" class="btn btn-success">Ver
                                detalle</button></span>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>

    </form>

</div>


<!--Appointment detail modal-->
<ng-template #appointmentDetailModal let-modal>
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <h4 class="sub-title">Datos de la Empresa ó Servicio</h4>
        <br>

        <a>
            <img src="{{appointmentDetail.EnterpriseImage}}" class="center" style="width: 200; height: 140px;">
        </a>

        <br>
        <div class="row">
            <div class="col-md-4">
                <h5 class="label">Nombre:</h5>
            </div>
            <div class="col-md-8">
                <textarea class="form-control bold">{{appointmentDetail.EnterpriseName}}</textarea>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-4">
                <h5 class="label">Dirección:</h5>
            </div>
            <div class="col-md-8">
                <textarea class="form-control bold">{{appointmentDetail.EnterpriseAddress}}</textarea>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-4">
                <h5 class="label">Teléfono:</h5>
            </div>
            <div class="col-md-8">
                <span class="form-control bold">{{appointmentDetail.EnterprisePhoneNumber}}</span>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-4">
                <h5 class="label">Breve descripción de la empresa</h5>
            </div>
            <div class="col-md-8">
                <textarea class="form-control bold">{{appointmentDetail.EnterpriseDescription}}</textarea>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-4">
                <h5 class="label">Tiempo estimado por servicio:</h5>
            </div>
            <div class="col-md-8">
                <span class="form-control bold">{{appointmentDetail.EnterpriseServiceTime}}&nbsp;minutos</span>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-4">
                <h5 class="label">Cantidad de clientes para ser atendido por día:</h5>
            </div>
            <div class="col-md-8">
                <span class="form-control bold">{{appointmentDetail.NumberAppointmentsAttendedByDay}}</span>
            </div>
        </div>

        <br>
        <br>
        <h4 class="sub-title">Datos del Solicitante</h4>

        <br>
        <div class="row">
            <div class="col-md-4">
                <h5 class="label">Nombre:</h5>
            </div>
            <div class="col-md-8">
                <textarea class="form-control bold">{{appointmentDetail.UserName}}</textarea>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-4">
                <h5 class="label">Teléfono:</h5>
            </div>
            <div class="col-md-8">
                <span class="form-control bold">{{appointmentDetail.PhoneNumber}}</span>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-4">
                <h5 class="label">Comentario:</h5>
            </div>
            <div class="col-md-8">
                <textarea class="form-control bold">{{appointmentDetail.Comment}}</textarea>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-4">
                <h5 class="label">Fecha para ser atendido:</h5>
            </div>
            <div class="col-md-8">
                <span class="form-control bold" style="color: red;">{{appointmentDetail.StartDate}}</span>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-4">
                <h5 class="label"># Posición en la fila:</h5>
            </div>
            <div class="col-md-8">
                <span class="form-control bold" style="color: red;">{{appointmentDetail.AppointmentPositionNumber}}</span>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-4">
                <h5 class="label">Cantidad de turnos ó citas delante de mi:</h5>
            </div>
            <div class="col-md-8">
                <span class="form-control bold" style="color: red;">{{appointmentDetail.InFrontMe}}</span>
            </div>
        </div>

    </div>

    <br>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger buttonSize_Standar_Close"
            (click)="modal.close('Close click')">Cerrar</button>
    </div>
</ng-template>