<!--Call spinner-->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="rgb(152, 214, 218)" type="timer">
  <p style="font-size: 20px; color: white">Cangando...</p>
</ngx-spinner>


<div class="app-body imglogin">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">

          <div class="card-group">
            <div class="card p-4 imgloginCard">

              <div class="card-body">
                <!--Form-->
                <form [formGroup]="loginForm" (submit)="SubmitLogin(loginForm.value)">

                  <div class="row">
                    <div class="col-md-12 center">
                      <i>
                        <h3 class="center bold" style="color: rgb(5, 10, 78);">COMPRO & VENDO <span
                            style="color: red;">R</span><span style="color: blue;">D</span>
                        </h3>
                      </i>
                    </div>
                  </div>
                  <br>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Usuario ó Correo" style="font-weight: bold;"
                      autocomplete="username" formControlName="userName">
                    <div *ngIf="!loginForm.value.userName" class="required">*</div>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Contraseña" style="font-weight: bold;"
                      autocomplete="current-password" formControlName="password">
                    <div *ngIf="!loginForm.value.password" class="required">*</div>
                  </div>

                  <div *ngIf="buttonLogIn" >
                    <div class="row">
                      <div class="col-12">
                        <button type="submit" class="btn loginButton bold" [disabled]="loginForm.invalid"
                          style="background-color: rgb(19, 179, 190);"> <span style="color: white;">Iniciar
                            sesión</span> </button>
                      </div>
                    </div>

                    <h4 class="center" (click)="openResetPasswordModal()"><u>¿Has olvidado la contraseña?</u></h4>

                    <div class="row">
                      <div class="col-12">
                        <button type="button" *ngIf="valueRegisterButton == '1' " class="btn loginButton bold"
                          style="background-color: rgb(71, 196, 22);" (click)="register()"><span
                            style="color: white;">Suscribirme</span></button>
                      </div>
                    </div>

                    <br>
                    <br>
                    <div>
                      <div class="center">
                        <button id="btnPortada" type="button" class="bold btn btn-primary portadaButton"
                          style="background-color: rgb(41, 92, 116);" (click)="redirectPortada()">Compro & Vendo
                          RD</button>
                      </div>
                    </div>

                  </div>


                  <div *ngIf="!buttonLogIn" class="row">
                    <div class="col-12">
                      <button type="button" class="btn loginButton bold" [disabled]="true"
                        style="background-color: rgb(19, 179, 190);"> <span style="color: white;">Validando
                          credenciales...</span> <i class="fa fa-circle-o-notch fa-spin"
                          style="font-size:35px; color: rgb(60, 170, 16);"></i></button>
                    </div>
                  </div>

                </form>
                <!--End-->

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<!--<ng-marquee duration="40s" style="background: rgb(180, 231, 238);">
  <span class="marqueeStyle_Login" [innerHTML]="bannerA.Body"></span>
</ng-marquee>-->


<!--Reset password modal-->
<ng-template #resetPasswordModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Restablecer contraseña</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="resetPasswordForm" (submit)="loadingResetPassword(resetPasswordForm.value)">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="card" style="border-radius: 15px;">

              <div class="card-body">

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" formControlName="userName" class="form-control" placeholder="Usuario"
                    autocomplete="username" required>
                  <div *ngIf="!resetPasswordForm.value.userName" class="required">*</div>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="email" formControlName="emailAddress" class="form-control" placeholder="Correo"
                    autocomplete="email" required>
                  <div *ngIf="!resetPasswordForm.value.emailAddress" class="required">*</div>
                </div>

                <div *ngIf="buttonResetPass" class="row center">
                  <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary"
                      style="font-size: 25px; width: 150px; border-radius: 22px;"
                      [disabled]="resetPasswordForm.invalid">Enviar</button>
                  </div>
                </div>
                <h2 class="center" *ngIf="!buttonResetPass" style="color: rgb(11, 141, 216);">Procesando solicitud...
                </h2>

              </div>
            </div>
          </div>

        </div>

      </div>
    </form>

  </div>

</ng-template>