<br>

<div class="row">
    <div class="col-md-12">
        <div class="card" style="background-color: rgb(209, 201, 88);">

            <div class="store-info">
                <h4 class="bold">Información de la tienda</h4>

                <div class="row row-info">
                    <div class="col-md-2">
                        <h5 class="bold">Correo:</h5>
                    </div>
                    <div class="col-md-6">
                        <h5>marketplace.comproyvendo.rd@gmail.com</h5>
                    </div>
                </div>

                <div class="row row-info">
                    <div class="col-md-2">
                        <h5 class="bold">Teléfono:</h5>
                    </div>
                    <div class="col-md-6">
                        <h5>829-909-3042</h5>
                    </div>
                </div>

                <div class="row row-info">
                    <div class="col-md-2">
                        <h5 class="bold">Dirección:</h5>
                    </div>
                    <div class="col-md-6">
                        <h5>Mun: San Antonio De Guerra; San. Dom. Este; Rep. Dom</h5>
                    </div>
                </div>

                <div class="row row-info">
                    <div class="col-md-2">
                        <h5 class="bold">Código postal:</h5>
                    </div>
                    <div class="col-md-6">
                        <h5>11902</h5>
                    </div>
                </div>

                <div class="row row-info">
                    <div class="col-md-2">
                        <h5 class="bold">Horarío:</h5>
                    </div>
                    <div class="col-md-6">
                        <h5>8: 00 AM / 8:00 PM todos los días</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div *ngIf="orders?.length > 0">

    <br>
    <div class="row" style="margin-bottom: 5px;">
        <div class="col-md-12">
            <h4 class="bold center">Artículos que deben ser enviado al almacén de la tienda</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Buscar artículos por cualquier columna"
                    [(ngModel)]="searchText">
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">

            <div class="card">

                <div class="table-responsive">
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th># Pedido</th>
                                <th># Orden</th>
                                <th>Fecha de creación</th>
                                <th>Cliente</th>
                                <th>Tel. cliente</th>
                                <th>Estado</th>
                                <th>Artículo</th>
                                <th>Precio</th>
                                <th>Cantidad a enviar</th>
                                <th>Subtotal</th>
                                <th>ITBIS</th>
                                <th>Total</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr
                                *ngFor="let item of orders | filter : searchText | paginate: { itemsPerPage: 15, currentPage: _currentPage}">
                                <td>{{item.Id}}</td>
                                <td>{{item.OrderId}}</td>
                                <td>{{item.Date}}</td>
                                <td>{{item.ClientName}}</td>
                                <td>{{item.ClientPhoneNumber}}</td>
                                <td> <span class="{{item.StatusColour}} bold">{{item.ProviderStatusDescription}}</span>
                                </td>
                                <td>{{item.Title}}</td>
                                <td>{{item.Price}}</td>
                                <td class="bold">{{item.Quantity}}</td>
                                <td>{{item.Subtotal | currency}}</td>
                                <td>{{item.ITBIS | currency}}</td>
                                <td>{{item.TotalAmount | currency}}</td>
                            </tr>

                        </tbody>

                    </table>

                    <pagination-controls (pageChange)="_currentPage = $event" autoHide="true" responsive="true"
                        previousLabel="Anterior" nextLabel="Siguiente">
                    </pagination-controls>

                </div>


            </div>

        </div>

    </div>

</div>


<div *ngIf="!orders?.length > 0">

    <br>
    <div class="row">
        <div class="col-md-12">
            <h4 class="bold center">Aun no tiene pedidos pendientes para ser enviado al almacén</h4>
        </div>
    </div>

    <br>
    <br>

</div>