<br>

<div class="row">
    <div class="col-md-12">
        <h4 class="bold center">Artículos para enviarlo al almacén de la tienda</h4>
    </div>
</div>
<br>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="searchText">
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-12">

        <div class="card">

            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th># Pedido</th>
                            <th># Orden</th>
                            <th>Fecha</th>
                            <th>Cliente</th>
                            <th>Tel. cliente</th>
                            <th>Estado</th>
                            <th>Artículo</th>
                            <th>Precio</th>
                            <th>Cantidad a enviar</th>
                            <th>Subtotal</th>
                            <th>ITBIS</th>
                            <th>Total</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr
                            *ngFor="let item of orders | filter : searchText | paginate: { itemsPerPage: 15, currentPage: _currentPage}">
                            <td>{{item.Id}}</td>
                            <td>{{item.OrderId}}</td>
                            <td>{{item.Date}}</td>
                            <td>{{item.ClientName}}</td>
                            <td>{{item.ClientPhoneNumber}}</td>
                            <td> <span class="{{item.StatusColour}} bold">{{item.ProviderStatusDescription}}</span> </td>
                            <td>{{item.Title}}</td>
                            <td>{{item.Price}}</td>
                            <td class="bold">{{item.Quantity}}</td>
                            <td>{{item.Subtotal | currency}}</td>
                            <td>{{item.ITBIS | currency}}</td>
                            <td>{{item.TotalAmount | currency}}</td>
                        </tr>

                    </tbody>

                </table>

                <pagination-controls (pageChange)="_currentPage = $event" autoHide="true" responsive="true"
                    previousLabel="Anterior" nextLabel="Siguiente">
                </pagination-controls>

            </div>


        </div>

    </div>

</div>