
.li-zise{
    font-size:17px;
}

.border{
    border-style: ridge;
    border-width: 4px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(190, 224, 224);
}