<!--Call spinner-->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="rgb(152, 214, 218)" type="timer">
    <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>

<!--Button go up-->
<span class="ir-arriba fa fa-angle-double-up"></span>


<div class="card-header" style="background-color: rgb(41, 218, 224); margin-bottom: 8px;">
    <div class="row">
        <div class="col-md-12">
            <h4 class="center bold" style="color: rgb(5, 10, 78);">COMPRO & VENDO <span
                    style="color: red;">R</span><span style="color: blue;">D</span>
            </h4>
        </div>
    </div>
</div>

<div class="row center" *ngIf="!enableShoppingCart">
    <div class="cold-md-6">
        <button class="btn btn-success btn_public" (click)="toPost()"> <i class="fa fa-plus"></i> Publicar</button>
    </div>
</div>

<ngb-tabset [destroyOnHide]="false">

    <!--Sell-->
    <ngb-tab *ngIf="enableShoppingCart || !enableShoppingCart">
        <ng-template ngbTabTitle>
            <div (click)="resetPage(); getArticles('Sell', 0, 0)" class="article-tab">Comprar</div>
        </ng-template>

        <ng-template ngbTabContent>

            <h4 *ngIf="!enableShoppingCart" class="center bold">Pantalla de compra</h4>

            <div id="accordion">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        <span class="bold">
                            <h4>Busqueda avanzada</h4>
                        </span>
                    </button>
                </h5>

                <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">

                    <form [formGroup]="filterSellForm" (submit)="filterArticles('Sell', filterSellForm.value)">

                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-2">
                                <span class="bold">Categoría :</span>
                            </div>
                            <div class="col-md-4">
                                <ng-select [items]="categories" bindLabel="Description" bindValue="Id"
                                    virtualScroll="true" placeholder="Categorías" formControlName="categoryId"
                                    (change)="getSubCategories_ByCategoryId($event)">
                                </ng-select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <span class="bold">subcategoría :</span>
                            </div>
                            <div class="col-md-4">
                                <ng-select [items]="subCategories" bindLabel="Description" bindValue="Id"
                                    virtualScroll="true" placeholder="subCategorías" formControlName="subCategoryId">
                                </ng-select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="cold-md-6">
                                <button type="submit" style="margin-top: 15px;"
                                    class="btn btn-primary btn_search">Buscar</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>

            <br>
            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" style="background-color: rgb(235, 229, 229); border: solid 1px; height: 40px;"
                    class="form-control" placeholder="Buscar por título, categoría, precio, fecha, ubicación y más..."
                    [(ngModel)]="inputStr" (ngModelChange)="getArticlesByInputStrByTime('Sell', inputStr)">
            </div>

            <h4 style="margin-bottom: 5px;" class="center bold">{{inputStr}}</h4>
            <h4 style="margin-bottom: 5px;" class="center">{{itemQuantity}} {{recordResultMessage}}</h4>
            <br>


            <div class="row card-group">
                <div class="col-md-3" *ngFor="let item of articles">
                    <div style="border-radius: 15px; height: 400px;" class="card shadow bg-white">

                        <div (click)="getArticleFullData(item)">
                            <div class="center" style="margin-top: 3px; margin-bottom: 3px;">
                                <img class="imgPortada" id="image"
                                    src="{{coreURL}}api/market/GetImageByArticleId?id={{item.Id}}&width={{img_Width}}&height={{img_height}}">
                            </div>
                            <h6 class="center" style="margin-left: 10px; margin-right: 10px; margin-bottom: 5px;">
                                No.&nbsp;{{item.Id}}</h6>

                            <h4 *ngIf="item.Price > 0" style="margin-left: 10px; margin-right: 10px;">{{item.Price |
                                currency}} <span class="bold"
                                    style="font-size: 12px; color: red;">{{item.CurrencyCode}}</span> </h4>

                            <div style="font-size: 15px; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
                                {{item.Title}}</div>
                        </div>

                        <div class="row" style="margin-left: 10px; margin-right: 10px;">
                            <div class="cold-md-6">
                                <button (click)="reportArticle()" class="btn bold"
                                    style="font-size: 13px; width: 80px; border-radius: 15px; color: white; background-color: rgb(250, 70, 94);">Reportar</button>
                            </div>
                        </div>

                        <div class="row" style="margin-left: 10px; margin-right: 10px; margin-top: 8px;"
                            *ngIf="enableShoppingCart">
                            <div class="cold-md-6">
                                <button (click)="openModalAddArticle(item)" class="btn btn-primary bold"
                                    style="font-size: 13px; width: 120px; border-radius: 15px; color: white;">Agregar al
                                    carrito</button>
                            </div>

                            <div class="cold-md-6">
                                <span class="bold" style="margin-left: 5px;">Existencia: 2000</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row center">
                <div class="cold-md-6">
                    <button *ngIf="show_btn_vieMore" class="btn btn-primary btn_viewMore"
                        (click)="viewMoreArticles('Sell')">Ver más</button>
                </div>
            </div>

            <br>

        </ng-template>
    </ngb-tab>

    <!--Rent-->
    <ngb-tab *ngIf="!enableShoppingCart">
        <ng-template ngbTabTitle>
            <div (click)="resetPage(); getArticles('Rent', 0, 0)" class="article-tab">Rentar</div>
        </ng-template>

        <ng-template ngbTabContent>

            <h4 class="center bold">Pantalla de renta</h4>

            <div id="accordion">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        <span class="bold">
                            <h4>Busqueda avanzada</h4>
                        </span>
                    </button>
                </h5>

                <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">

                    <form [formGroup]="filterRentForm" (submit)="filterArticles('Rent', filterRentForm.value)">

                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-2">
                                <span class="bold">Categoría :</span>
                            </div>
                            <div class="col-md-4">
                                <ng-select [items]="categories" bindLabel="Description" bindValue="Id"
                                    virtualScroll="true" placeholder="Categorías" formControlName="categoryId"
                                    (change)="getSubCategories_ByCategoryId($event)">
                                </ng-select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <span class="bold">subcategoría :</span>
                            </div>
                            <div class="col-md-4">
                                <ng-select [items]="subCategories" bindLabel="Description" bindValue="Id"
                                    virtualScroll="true" placeholder="subCategorías" formControlName="subCategoryId">
                                </ng-select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="cold-md-6">
                                <button type="submit" style="margin-top: 15px;"
                                    class="btn btn-primary btn_search">Buscar</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>

            <br>
            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" style="background-color: rgb(235, 229, 229); border: solid 1px; height: 40px;"
                    class="form-control" placeholder="Buscar por título, categoría, precio, fecha, ubicación y más..."
                    [(ngModel)]="inputStr" (ngModelChange)="getArticlesByInputStrByTime('Rent', inputStr)">
            </div>

            <h4 style="margin-bottom: 5px;" class="center bold">{{inputStr}}</h4>
            <h4 style="margin-bottom: 5px;" class="center">{{itemQuantity}} {{recordResultMessage}}</h4>
            <br>


            <div class="row card-group">
                <div class="col-md-3" *ngFor="let item of articles">

                        <div style="border-radius: 15px; height: 370px;" class="card shadow bg-white">
                            
                            <div (click)="getArticleFullData(item)">

                            <div class="center" style="margin-top: 3px; margin-bottom: 3px;"
                                (click)="getArticleFullData(item)">
                                <img class="imgPortada" id="image"
                                    src="{{coreURL}}api/market/GetImageByArticleId?id={{item.Id}}&width={{img_Width}}&height={{img_height}}">
                            </div>
                            <h6 class="center" style="margin-left: 10px; margin-right: 10px; margin-bottom: 5px;">
                                No.&nbsp;{{item.Id}}</h6>

                            <h4 *ngIf="item.Price > 0" style="margin-left: 10px; margin-right: 10px;">{{item.Price |
                                currency}} <span class="bold"
                                    style="font-size: 12px; color: red;">{{item.CurrencyCode}}</span> </h4>

                            <div (click)="getArticleFullData(item)"
                                style="font-size: 15px; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
                                {{item.Title}}</div>

                        </div>

                        <div class="row" style="margin-left: 10px; margin-right: 10px;">
                            <div class="cold-md-6">
                                <button (click)="reportArticle()" class="btn bold"
                                    style="font-size: 13px; width: 80px; border-radius: 15px; color: white; background-color: rgb(250, 70, 94);">Reportar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row center">
                <div class="cold-md-6">
                    <button *ngIf="show_btn_vieMore" class="btn btn-primary btn_viewMore"
                        (click)="viewMoreArticles('Rent')">Ver más</button>
                </div>
            </div>

            <br>

        </ng-template>
    </ngb-tab>

    <!--Donate-->
    <ngb-tab *ngIf="!enableShoppingCart">
        <ng-template ngbTabTitle>
            <div (click)="resetPage(); getArticles('Donate', 0, 0)" class="article-tab">Donaciones</div>
        </ng-template>

        <ng-template ngbTabContent>

            <h4 class="center bold">Pantalla de donación</h4>

            <div id="accordion">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        <span class="bold">
                            <h4>Busqueda avanzada</h4>
                        </span>
                    </button>
                </h5>

                <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">

                    <form [formGroup]="filterRentForm" (submit)="filterArticles('Donate', filterRentForm.value)">

                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-2">
                                <span class="bold">Categoría :</span>
                            </div>
                            <div class="col-md-4">
                                <ng-select [items]="categories" bindLabel="Description" bindValue="Id"
                                    virtualScroll="true" placeholder="Categorías" formControlName="categoryId"
                                    (change)="getSubCategories_ByCategoryId($event)">
                                </ng-select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <span class="bold">subcategoría :</span>
                            </div>
                            <div class="col-md-4">
                                <ng-select [items]="subCategories" bindLabel="Description" bindValue="Id"
                                    virtualScroll="true" placeholder="subCategorías" formControlName="subCategoryId">
                                </ng-select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="cold-md-6">
                                <button type="submit" style="margin-top: 15px;"
                                    class="btn btn-primary btn_search">Buscar</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>

            <br>
            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" style="background-color: rgb(235, 229, 229); border: solid 1px; height: 40px;"
                    class="form-control" placeholder="Buscar por título, categoría, precio, fecha, ubicación y más..."
                    [(ngModel)]="inputStr" (ngModelChange)="getArticlesByInputStrByTime('Donate', inputStr)">
            </div>

            <h4 style="margin-bottom: 5px;" class="center bold">{{inputStr}}</h4>
            <h4 style="margin-bottom: 5px;" class="center">{{itemQuantity}} {{recordResultMessage}}</h4>
            <br>


            <div class="row card-group">
                <div class="col-md-3" *ngFor="let item of articles">

                        <div style="border-radius: 15px; height: 370px;" class="card shadow bg-white">

                            <div (click)="getArticleFullData(item)">
                            <div class="center" style="margin-top: 3px; margin-bottom: 3px;"
                                (click)="getArticleFullData(item)">
                                <img class="imgPortada" id="image"
                                    src="{{coreURL}}api/market/GetImageByArticleId?id={{item.Id}}&width={{img_Width}}&height={{img_height}}">
                            </div>
                            <h6 class="center" style="margin-left: 10px; margin-right: 10px; margin-bottom: 5px;">
                                No.&nbsp;{{item.Id}}</h6>

                            <h4 *ngIf="item.Price > 0" style="margin-left: 10px; margin-right: 10px;">{{item.Price |
                                currency}} <span class="bold"
                                    style="font-size: 12px; color: red;">{{item.CurrencyCode}}</span> </h4>

                            <div (click)="getArticleFullData(item)"
                                style="font-size: 15px; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
                                {{item.Title}}</div>

                        </div>

                        <div class="row" style="margin-left: 10px; margin-right: 10px;">
                            <div class="cold-md-6">
                                <button (click)="reportArticle()" class="btn bold"
                                    style="font-size: 13px; width: 80px; border-radius: 15px; color: white; background-color: rgb(250, 70, 94);">Reportar</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row center">
                <div class="cold-md-6">
                    <button *ngIf="show_btn_vieMore" class="btn btn-primary btn_viewMore"
                        (click)="viewMoreArticles('Donate')">Ver
                        más</button>
                </div>
            </div>

            <br>

        </ng-template>

    </ngb-tab>

</ngb-tabset>

<br>
<br>
<br>


<ng-template #toPostModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">!Hola estimado usuario!</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="row center">
            <div class="cold-md-6">
                <button class="btn btn-primary btn_public" (click)="goToRegisterPage()">Soy nuevo</button>
            </div>
        </div>

        <div class="row center">
            <div class="cold-md-6">
                <button class="btn btn-success btn_public" (click)="goToLoginPage()">Ya tengo cuenta</button>
            </div>
        </div>

    </div>
</ng-template>


<ng-template #articleDetailModal let-modal>
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="row">

            <div class="col-md-6">

                <button *ngIf="enableShoppingCart" (click)="openModalAddArticle(articleFullData.Article)" class="btn btn-primary bold center"
                    style="font-size: 20px; width: 200px; border-radius: 15px; margin-bottom: 15px;">Agregar al carrito</button>

                <h3 *ngIf="currentArticle.Price > 0" style="margin-left: 10px; margin-right: 10px;">
                    {{articleFullData.Article.Price | currency}}
                    <span class="bold"
                        style="font-size: 13px; color: red;">{{articleFullData.Article.CurrencyCode}}</span>
                </h3>

                <h4 style="margin-left: 10px; margin-right: 10px;">{{articleFullData.Article.Title}}</h4>

                <br>
                <h5 *ngIf="articleFullData.Article.ConditionShortName !== 'NA'" style="margin-left: 10px;"> <span
                        style="color: green;">Codición :</span> &nbsp;
                    {{articleFullData.Article.Condition}}</h5>
                <h5 style="margin-left: 10px;"> <span style="color: green;">Ubicación :</span> &nbsp;
                    {{articleFullData.Article.Ubication}}</h5>
                <h5 style="margin-left: 10px;"> <span style="color: green;">Teléfono :</span> &nbsp;
                    {{articleFullData.Article.PhoneNumber}}</h5>
                <h5 style="margin-left: 10px;"> <span style="color: green;">Publicado el :</span> &nbsp;
                    {{articleFullData.Article.CreationDate}}</h5>

                <br>
                <h5 *ngIf="articleFullData.Article.Description" style="margin-left: 10px; margin-right: 10px;">
                    Descripción</h5>
                <textarea *ngIf="articleFullData.Article.Description" rows="6" style="font-size: 15px;"
                    class="form-control" placeholder="Campo opcional">{{articleFullData.Article.Description}}</textarea>

                <br>
                <div class="card" style="border-radius: 15px;">
                    <h5 class="center"
                        style="margin-left: 10px; margin-right: 10px; margin-top: 8px; margin-bottom: 10px; color: blue;">
                        Vendedor</h5>

                    <div class="row">

                        <div class="col-md-3">
                            <img src="{{coreURL}}api/common/GetImageProfileByUserId?id={{articleFullData.Seller.Id}}&width={{imageSeller_Width}}&height={{imageSeller_height}}"
                                class="user-image" alt="User Image" class="img-avatar" style="margin-left: 10px;">
                        </div>

                        <div class="col-md-9">
                            <h5 style="margin-left: 8px;">{{articleFullData.Seller.Name}}</h5>
                            <h5 style="margin-left: 8px;">{{articleFullData.Seller.PhoneNumber}}</h5>
                        </div>

                    </div>

                    <br>
                </div>

            </div>

            <div class="col-md-6">

                <div class="row card-group">
                    <div class="col-md-6" *ngFor="let item of currentArticle.ImgDetail; let i = index"
                        [attr.data-index]="i">
                        <div style="border-radius: 15px;" class="card">
                            <img class="imgPortada" id="image"
                                src="{{coreURL}}api/market/GetImageDetailByArticleId?id={{item.Id}}&width={{imgDetail_Width}}&height={{imgDetail_height}}">
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</ng-template>



<ng-template #buyArticle let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Llenando mi carrito</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">


        <div class="row">
            <div class="cold-md-12">
                <div class="bold" style="font-size: 16px; margin-left: 5px; margin-right: 5px; margin-bottom: 8px;">{{currentArticle.Title}}</div>
            </div>
        </div>

        <div class="row">
            <div class="cold-md-4">
                <img style="border-radius: 15px; margin-left: 5px;" src="{{coreURL}}api/market/GetImageByArticleId?id={{currentArticle.Id}}&width=125&height=125">
            </div>

            <div class="cold-md-8">
                <h5 style="margin-left: 15px; margin-right: 5px;">{{currentArticle.Price |
                    currency}} <span class="bold"
                        style="font-size: 10px; color: red;">{{currentArticle.CurrencyCode}}</span> </h5>
                
                <h6 style="margin-left: 15px; margin-right: 5px;">Existencia: 100</h6>
                <h6 style="margin-left: 15px; margin-right: 5px;">Venta mínima: 1</h6>
                <h6 style="margin-left: 15px; margin-right: 5px;">Venta maxima: 100</h6>
                <h6 style="margin-left: 15px; margin-right: 5px;"><input type="number" [(ngModel)]="articleQuantity"></h6>
                <h6 style="margin-left: 15px; margin-right: 5px;"><button type="button" (click)="addArticle()" class="btn btn-success" style="width: 167px; border-radius: 15px;">Guardar</button></h6>

            </div>
        </div>

    </div>
</ng-template>