
.article-tab{
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.ir-arriba {
	display:none;
	padding:14px;
	background:#2aa9c5;
	font-size:18px;
	color:#fff;
	cursor:pointer;
	position: fixed;
    z-index: 10;
	bottom:10px;
	right:4px;
    border-radius: 20px;
}

.centerDivScroll{
    overflow-y:scroll;
    height: 816px;
    background-color: rgb(244, 247, 248);
}

.input-search{
    background-color: white; 
    border: solid 1px;
    border-radius: 10px;
    height: 40px;
}

.imgArticleDetailScroll{
    overflow-y:auto;
    height: 600px;
}

.img{
    margin-top: 10px;
    margin-left: 20px;
}

.imgPortada{
    border-radius: 15px;
    margin-top: 2px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
}

.title{
    margin-top: 5px;
    margin-left: 20px;
}

.btn_public{
    margin-top: 8px; 
    margin-bottom: 15px;
    font-size: 20px;
    width: 200px;
    border-radius: 15px;
}

.btn_viewMore{
    font-size: 25px;
    width: 200px;
    border-radius: 15px;
}

.view_Icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.btn_search{
    margin-top: 8px; 
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 20px;
    width: 200px;
    border-radius: 15px;
}

input::placeholder {
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
  }

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}