
.article-tab{
    font-weight: bold;
    color: black;
    font-size: 18px;
}

.centerDivScroll{
    overflow-y:scroll;
    height: 816px;
    background-color: rgb(244, 247, 248);
}

.img{
    margin-top: 10px;
    margin-left: 20px;
}

.title{
    margin-top: 5px;
    margin-left: 20px;
}

.btn_public{
    margin-top: 8px; 
    margin-bottom: 15px;
    font-size: 20px;
    width: 250px;
    border-radius: 15px;
}

.btn_search{
    margin-top: 8px; 
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 20px;
    width: 200px;
    border-radius: 15px;
}

input::placeholder {
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
  }

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}