<!--Contenedor principal-->
<div class="container-fluid" style="width: 100%;">

    <h3>Mantenimiento de roles</h3>
    <br>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="searchText"
                    [ngModelOptions]="{standalone: true}">
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-bordered table-condensed espacios">
            <thead>
                <tr class="tabl_eHeader_Color">
                    <th>Código</th>
                    <th>Código seguridad</th>
                    <th>Descripción</th>
                    <th>Nombre corto</th>
                    <th>Rol padre</th>
                    <th>Plantilla del menu de persona</th>
                    <th>Plantilla del menu de empresa</th>
                    <th>Puede crear ?</th>
                    <th>Puede editar ?</th>
                    <th>Puede eliminar ?</th>
                    <th class="right">Esta habilitado ?</th>
                    <th class="right"><button type="button" class="btn btn-success"
                            (click)="openCreateModal(createModal)"> <i class="fa fa-plus"></i>&nbsp;Nuevo</button></th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let item of roles | filter : searchText | paginate: { itemsPerPage: 10, currentPage: _currentPage}">
                    <td class="td_min">{{item.Id}}</td>
                    <td class="td_min">{{item.Code == null || '' ? '' : item.Code}}</td>
                    <td class="td_min">{{item.Description}}</td>
                    <td class="td_min">{{item.ShortName}}</td>
                    <td>{{item.Parent}}</td>
                    <td class="td_min">{{item.MenuTemplate == null || '' ? '' : item.MenuTemplate}}</td>
                    <td class="td_min">{{item.EnterpriseMenuTemplate == null || '' ? '' : item.EnterpriseMenuTemplate}}</td>
                    <td class="right"> <button class="btn buttonCheckbox" [ngStyle]="{'background-color': item.CanCreate == true ? 'rgb(52, 212, 146)' : 'rgb(241, 81, 81)'}">{{item.CanCreate == true ? 'sí' : 'No'}} </button> </td>
                    <td class="right"> <button class="btn buttonCheckbox" [ngStyle]="{'background-color': item.CanEdit == true ? 'rgb(52, 212, 146)' : 'rgb(241, 81, 81)'}">{{item.CanEdit == true ? 'sí' : 'No'}} </button> </td>
                    <td class="right"> <button class="btn buttonCheckbox" [ngStyle]="{'background-color': item.CanDelete == true ? 'rgb(52, 212, 146)' : 'rgb(241, 81, 81)'}">{{item.CanDelete == true ? 'sí' : 'No'}} </button> </td>
                    
                    <td class="right"> <button class="btn buttonCheckbox" [ngStyle]="{'background-color': item.Enabled == true ? 'rgb(52, 212, 146)' : 'rgb(241, 81, 81)'}">{{item.Enabled == true ? 'sí' : 'No'}} </button> </td>
                    <td class="right"><button type="button" class="btn btn-primary"
                            (click)="openEditModal(editModal, item.Id)"><i
                                class="fa fa-pencil"></i>&nbsp;Editar</button></td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="_currentPage = $event" autoHide="true" responsive="true"
            previousLabel="Anterior" nextLabel="Siguiente">
        </pagination-controls>
    </div>

</div>


<!--Edit modal-->
<ng-template #editModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Editando el rol &nbsp;</h4>
        <h4 class="modal-title"><i>{{role.Description}}</i></h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form [formGroup]="editRoleForm" (submit)="edit(editRoleForm.value)">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                            </div>
                            <div class="card-body">

                                <label for="shortName">Código de seguridad</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"></span>
                                    </div>
                                    <input type="text" formControlName="code" class="form-control" [readonly]="true">
                                </div>

                                <label for="shortName">Nombre corto</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"></span>
                                    </div>
                                    <input type="text" formControlName="shortName" class="form-control"
                                        placeholder="Nombre corto">
                                    <div *ngIf="!editRoleForm.value.shortName" class="required">*</div>
                                </div>

                                <label for="description">Descripción</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"></span>
                                    </div>
                                    <input type="text" formControlName="description" class="form-control"
                                        placeholder="Descripción">
                                    <div *ngIf="!editRoleForm.value.description" class="required">*</div>
                                </div>

                                <label for="personTypeId">Tipo de persona</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-user"></i></span>
                                    </div>
                                    <select formControlName="personTypeId" class="form-control" placeholder="Tipo de persona">
                                        <option value=""></option>
                                        <option *ngFor="let item of personTypes" [value]="item.Id">{{item.Description}}</option>
                                    </select>
                                    <div *ngIf="!editRoleForm.value.personTypeId" class="required">*</div>
                                </div>

                                <label for="parent">Rol padre</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"></span>
                                    </div>
                                    <input type="text" formControlName="parent" class="form-control"
                                        placeholder="Rol padre">
                                    <div *ngIf="!editRoleForm.value.parent" class="required">*</div>
                                </div>

                                <label for="menuTemplate">Plantilla del menu de persona</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"></span>
                                    </div>
                                    <textarea formControlName="menuTemplate" class="form-control"
                                        placeholder="Plantilla del menu">
                                         {{role.MenuTemplate}}
                                    </textarea>
                                </div>

                                <label for="enterpriseMenuTemplate">Plantilla del menu de empresa</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"></span>
                                    </div>
                                    <textarea formControlName="enterpriseMenuTemplate" class="form-control"
                                        placeholder="Plantilla del menu">
                                         {{role.EnterpriseMenuTemplate}}
                                    </textarea>
                                </div>

                                <label for="canCreate">Puede crear ?</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input type="checkbox"
                                        (change)="$event.target.checked ? canCreateTrue() : canCreateFalse()"
                                        formControlName="canCreate">
                                </div>

                                <label for="canEdit">Puede editar ?</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input type="checkbox"
                                        (change)="$event.target.checked ? canEditTrue() : canEditFalse()"
                                        formControlName="canEdit">
                                </div>

                                <label for="canDelete">Puede eliminar ?</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input type="checkbox"
                                        (change)="$event.target.checked ? canDeleteTrue() : canDeleteFalse()"
                                        formControlName="canDelete">
                                </div>

                                <label for="menuTemplate">Habilitar</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input type="checkbox"
                                        (change)="$event.target.checked ? enabledTrue() : enabledFalse()"
                                        formControlName="enabled">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.col-->
                </div>
                <!--/.row-->
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary buttonSize_Standar_Save" [disabled]="editRoleForm.invalid">Guardar</button>
                    </div>
                    <!--/.row-->
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
    </div>
</ng-template>


<!--Create modal-->
<ng-template #createModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Nuevo registro</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form [formGroup]="createRoleForm" (submit)="create(createRoleForm.value)">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                            </div>
                            <div class="card-body">

                                <label for="shortName">Nombre corto</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"></span>
                                    </div>
                                    <input type="text" formControlName="shortName" class="form-control"
                                        placeholder="Nombre corto">
                                    <div *ngIf="!createRoleForm.value.shortName" class="required">*</div>
                                </div>

                                <label for="description">Descripción</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"></span>
                                    </div>
                                    <input type="text" formControlName="description" class="form-control"
                                        placeholder="Descripción">
                                    <div *ngIf="!createRoleForm.value.description" class="required">*</div>
                                </div>

                                <label for="personTypeId">Tipo de persona</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-user"></i></span>
                                    </div>
                                    <select formControlName="personTypeId" class="form-control" placeholder="Tipo de persona">
                                        <option value=""></option>
                                        <option *ngFor="let item of personTypes" [value]="item.Id">{{item.Description}}</option>
                                    </select>
                                    <div *ngIf="!createRoleForm.value.personTypeId" class="required">*</div>
                                </div>

                                <label for="parent">Rol padre</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"></span>
                                    </div>
                                    <input type="text" formControlName="parent" class="form-control"
                                        placeholder="Rol padre">
                                    <div *ngIf="!createRoleForm.value.parent" class="required">*</div>
                                </div>

                                <label for="menuTemplate">Plantilla del menu de persona</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"></span>
                                    </div>
                                    <textarea formControlName="menuTemplate" class="form-control"
                                        placeholder="Plantilla del menu">
                                         {{role.MenuTemplate}}
                                    </textarea>
                                </div>

                                <label for="enterpriseMenuTemplate">Plantilla del menu de empresa</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"></span>
                                    </div>
                                    <textarea formControlName="enterpriseMenuTemplate" class="form-control"
                                        placeholder="Plantilla del menu">
                                         {{role.EnterpriseMenuTemplate}}
                                    </textarea>
                                </div>

                                <label for="canCreate">Puede crear ?</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input type="checkbox"
                                        (change)="$event.target.checked ? canCreateTrue() : canCreateFalse()"
                                        formControlName="canCreate">
                                </div>

                                <label for="canEdit">Puede editar ?</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input type="checkbox"
                                        (change)="$event.target.checked ? canEditTrue() : canEditFalse()"
                                        formControlName="canEdit">
                                </div>

                                <label for="canDelete">Puede eliminar ?</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input type="checkbox"
                                        (change)="$event.target.checked ? canDeleteTrue() : canDeleteFalse()"
                                        formControlName="canDelete">
                                </div>

                                <label for="menuTemplate">Habilitar</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input type="checkbox"
                                        (change)="$event.target.checked ? enabledTrue() : enabledFalse()"
                                        formControlName="enabled">
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--/.col-->
                </div>
                <!--/.row-->
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary buttonSize_Standar_Save" [disabled]="createRoleForm.invalid">Crear</button>
                    </div>
                    <!--/.row-->
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
    </div>
</ng-template>