
<br>

<div class="row">
    <div class="col-md-12">
        <div class="card" style="background-color: rgb(209, 201, 88);">

            <div class="store-info">
                <h4 class="bold">Información de la tienda</h4>
                
                <div class="row row-info">
                    <div class="col-md-2">
                        <h5 class="bold">Correo:</h5>
                    </div>
                    <div class="col-md-6">
                        <h5>marketplace.comproyvendo.rd@gmail.com</h5>
                    </div>
                </div>

                <div class="row row-info">
                    <div class="col-md-2">
                        <h5 class="bold">Teléfono:</h5>
                    </div>
                    <div class="col-md-6">
                        <h5>829-909-3042</h5>
                    </div>
                </div>

                <div class="row row-info">
                    <div class="col-md-2">
                        <h5 class="bold">Dirección:</h5>
                    </div>
                    <div class="col-md-6">
                        <h5>Mun: San Antonio De Guerra; San. Dom. Este; Rep. Dom</h5>
                    </div>
                </div>

                <div class="row row-info">
                    <div class="col-md-2">
                        <h5 class="bold">Código postal:</h5>
                    </div>
                    <div class="col-md-6">
                        <h5>11902</h5>
                    </div>
                </div>

                <div class="row row-info">
                    <div class="col-md-2">
                        <h5 class="bold">Horarío:</h5>
                    </div>
                    <div class="col-md-6">
                        <h5>8: 00 AM / 8:00 PM todos los días</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-12">
        <h4 class="bold center">Historico de ordenes</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary bold center refresh_btn" (click)="getOrderHistory()" ><i class="fa fa-refresh" aria-hidden="true"></i> Refrescar</button>
    </div>
</div>
<br>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-lg-12">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Buscar orden por cualquier columna" [(ngModel)]="searchText">
    </div>
  </div>
</div>

<div class="row">

    <div class="col-md-12">

        <div class="card">

            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th># Orden</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Método de pago</th>
                            <th>Subtotal</th>
                            <th>Descuento</th>
                            <th>ITBIS</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr *ngFor="let item of orders | filter : searchText | paginate: { itemsPerPage: 10, currentPage: _currentPage}">
                            <td>{{item.Id}}</td>
                            <td>{{item.Date}}</td>
                            <td> <span class="{{item.StatusColour}} bold">{{item.ClientStatusDescription}}</span> </td>
                            <td>{{item.PaymentMethod}}</td>
                            <td>{{item.Subtotal | currency}}</td>
                            <td>{{item.Discount | currency}}</td>
                            <td>{{item.ITBIS | currency}}</td>
                            <td>{{item.TotalAmount | currency}}</td>
                            <td>
                                <button class="btn btn-primary bold" (click)="openModalOrderDetail(item.Id)">Ver detalles</button>
                            </td>
                        </tr>

                    </tbody>

                </table>

                <pagination-controls (pageChange)="_currentPage = $event" autoHide="true" responsive="true" previousLabel="Anterior" nextLabel="Siguiente">
                </pagination-controls>

            </div>


        </div>

    </div>

</div>



<ng-template #orderDetailModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Detalle de la orden # {{orderDetail.Id}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="background-color: rgb(230, 244, 247);">

        <div class="row">

            <div class="col-md-12">
                <br>
                <div class="card">

                    <div class="row">
                        <div class="col-md-3">
                            <h6 style="margin-top: 8px;" class="header-detail"> <span class="bold">Orden : </span>#
                                {{orderDetail.Id}}</h6>
                            <h6 class="header-detail"> <span class="bold">Fecha : </span>{{orderDetail.Date}}</h6>
                            <h6 class="header-detail"> <span class="bold">Estado : </span>{{orderDetail.ClientStatusDescription}}</h6>
                            <h6 class="header-detail"> <span class="bold">Método de pago :
                                </span>{{orderDetail.PaymentMethod}}</h6>
                        </div>

                        <div class="col-md-9">
                            <h6 style="margin-top: 8px;" class="header-detail"> <span class="bold">Cliente :
                                </span>{{orderDetail.Client}}</h6>
                            <h6 class="header-detail"> <span class="bold">Contacto :
                                </span>{{orderDetail.ClientPhoneNumber}}</h6>
                            <h6 class="header-detail"> <span class="bold">Dirección para recibir la orden :
                                </span>{{orderDetail.Address}}</h6>
                            <h6 class="header-detail"> <span class="bold">Comentario : </span>{{orderDetail.Comment}}
                            </h6>
                        </div>

                    </div>

                </div>
            </div>

        </div>


        <div class="row">

            <div class="col-md-12">

                <div class="card">

                    <div class="table-responsive">
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Descripción</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                    <th>Subtotal</th>
                                    <th>ITBIS</th>
                                    <th>Total</th>
                                    <th>Comentario</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr *ngFor="let item of orderDetail.Items">
                                    <td>{{item.ArticleId}}</td>
                                    <td>{{item.Title}}</td>
                                    <td>{{item.Quantity}}</td>
                                    <td>{{item.Price | currency}}</td>
                                    <td>{{item.Subtotal | currency}}</td>
                                    <td>{{item.ITBIS | currency}}</td>
                                    <td>{{item.TotalAmount | currency}}</td>
                                    <td>{{item.Comment}}</td>
                                    <td> <span class="{{item.StatusColour}} bold">{{item.ClientStatusDescription}}</span> </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>


                </div>

                <div class="row">

                    <div class="col-md-9">

                    </div>

                    <div class="col-md-3">

                        <div class="card">

                            <div class="table-responsive">
                                <table class="table table-hover table-condensed detail-resumen">

                                    <tbody>
                                        <tr>
                                            <td class="bold">Subtotal</td>
                                            <td>{{orderDetail.Subtotal | currency}}</td>
                                        </tr>

                                        <tr>
                                            <td class="bold">Descuento</td>
                                            <td>{{orderDetail.Discount | currency}}</td>
                                        </tr>

                                        <tr>
                                            <td class="bold">ITBIS</td>
                                            <td>{{orderDetail.ITBIS | currency}}</td>
                                        </tr>

                                        <tr class="bold">
                                            <td>Total</td>
                                            <td>{{orderDetail.TotalAmount | currency}}</td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</ng-template>