<!--Contenedor principal-->
<div class="container-fluid" style="width: 100%;">

    <h3 *ngIf="validateRole">Mantenimiento de registro de Negocios</h3>
    <br>

    <div *ngIf="!validateRole" class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <button *ngIf="canCreate" type="button" class="btn btn-primary btnNew_Company center" (click)="openCreateModal(createModal)"><i class="fa fa-briefcase"></i>&nbsp;Empezar el registro</button>
        </div>
    </div>
  
    <div *ngIf="validateRole" class="row">
      <div class="col-xs-12 col-sm-12 col-lg-12">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="searchText"
            [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </div>
  
    <div *ngIf="validateRole" class="table-responsive">
      <table class="table table-hover table-bordered table-condensed">
        <thead>
          <tr class="tabl_eHeader_Color">
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Horario</th>
            <th class="right">Revisado</th>
            <th class="right"></th>
            <th class="right"><button *ngIf="canCreate" type="button" class="btn btn-success" (click)="openCreateModal(createModal)"><i class="fa fa-plus"></i>&nbsp;Nuevo</button></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of companyRegisters | filter : searchText | paginate: { itemsPerPage: 10, currentPage: _currentPage}">
            <td>{{item.Name}}</td>
            <td class="td_min">{{item.Addreess}}</td>
            <td>{{item.PhoneNumber}}</td>
            <td>{{item.Schedule}}</td>
            <td class="right"> <button class="btn buttonCheckbox" [ngStyle]="{'background-color': item.IsReviewed == true ? 'rgb(52, 212, 146)' : 'rgb(241, 81, 81)'}">{{item.IsReviewed == true ? 'sí' : 'No'}} </button> </td>
            <td class="right"> <button type="button" class="btn btn-danger" (click)="delete(item.Id)" *ngIf="canDelete"><i class="fa fa-remove"></i>&nbsp;Eliminar</button> </td>
            <td class="right"><button type="button" class="btn btn-primary" (click)="openEditModal(editModal, item.Id)" *ngIf="canEdit"><i
                  class="fa fa-pencil"></i>&nbsp;Editar</button></td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="_currentPage = $event" autoHide="true" responsive="true" previousLabel="Anterior"
        nextLabel="Siguiente">
      </pagination-controls>
    </div>
  
</div>


<!--Create modal-->
<ng-template #createModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Registrando mi Negocio</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
  
      <form [formGroup]="createForm" (submit)="create(createForm.value)">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
  
                  <label for="name">Nombre del Negocio ó Compañia</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-info"></i></span>
                    </div>
                    <input type="text" formControlName="name" class="form-control" placeholder="Nombre del Negocio ó Compañia">
                    <div *ngIf="!createForm.value.name" class="required">*</div>
                  </div>
  
                  <label for="addreess">Dirección</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-info"></i></span>
                    </div>
                    <input type="text" formControlName="addreess" class="form-control" placeholder="Dirección">
                    <div *ngIf="!createForm.value.addreess" class="required">*</div>
                  </div>

                  <label for="phoneNumber">Teléfono</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-info"></i></span>
                    </div>
                    <input type="text" formControlName="phoneNumber" class="form-control" placeholder="Teléfono">
                    <div *ngIf="!createForm.value.phoneNumber" class="required">*</div>
                  </div>
  
                  <label for="schedule">Horario</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-info"></i></span>
                    </div>
                    <input type="text" formControlName="schedule" class="form-control" placeholder="Horario">
                    <div *ngIf="!createForm.value.schedule" class="required">*</div>
                  </div>

                  <label for="categoryId">Categoría de comercio</label>
                   <div class="input-group mb-3">
                     <div class="input-group-prepend">
                       <span class="input-group-text"><i class="fa fa-info"></i></span>
                     </div>
                     <select formControlName="categoryId" class="form-control">
                       <option *ngFor="let item of companyCategories" [value]="item.Id">{{item.Description}}</option>
                     </select>
                     <div *ngIf="!createForm.value.categoryId" class="required">*</div>
                   </div>

                </div>
              </div>
            </div>
            <!--/.col-->
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary buttonSize_Standar_Save" [disabled]="createForm.invalid">Crear</button>
            </div>
            <!--/.row-->
          </div>
        </div>
      </form>
  
    </div>

</ng-template>



<!--Edit modal-->
<ng-template #editModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Editando el Negocio&nbsp;</h4>
        <h4 class="modal-title"><i>{{companyRegister.Name}}</i></h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
  
        <form [formGroup]="editForm" (submit)="edit(editForm.value)">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                            </div>
                            <div class="card-body">

                                <label for="name">Nombre del Negocio ó Compañia</label>
                                <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-info"></i></span>
                                  </div>
                                  <input type="text" formControlName="name" class="form-control" placeholder="Nombre del Negocio ó Compañia">
                                  <div *ngIf="!editForm.value.name" class="required">*</div>
                                </div>
                
                                <label for="addreess">Dirección</label>
                                <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-info"></i></span>
                                  </div>
                                  <input type="text" formControlName="addreess" class="form-control" placeholder="Dirección">
                                  <div *ngIf="!editForm.value.addreess" class="required">*</div>
                                </div>
              
                                <label for="phoneNumber">Teléfono</label>
                                <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-info"></i></span>
                                  </div>
                                  <input type="text" formControlName="phoneNumber" class="form-control" placeholder="Teléfono">
                                  <div *ngIf="!editForm.value.phoneNumber" class="required">*</div>
                                </div>
                
                                <label for="schedule">Horario</label>
                                <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-info"></i></span>
                                  </div>
                                  <input type="text" formControlName="schedule" class="form-control" placeholder="Horario">
                                  <div *ngIf="!editForm.value.schedule" class="required">*</div>
                                </div>
              
                                <label for="categoryId">Categoría de comercio</label>
                                 <div class="input-group mb-3">
                                   <div class="input-group-prepend">
                                     <span class="input-group-text"><i class="fa fa-info"></i></span>
                                   </div>
                                   <select formControlName="categoryId" class="form-control">
                                     <option *ngFor="let item of companyCategories" [value]="item.Id">{{item.Description}}</option>
                                   </select>
                                   <div *ngIf="!editForm.value.categoryId" class="required">*</div>
                                 </div>

                                 <label for="isReviewed">Marcar como revisado</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        </div>
                                        <input type="checkbox"
                                            (change)="$event.target.checked ? isReviewedTrue() : isReviewedFalse()"
                                            formControlName="isReviewed">
                                    </div>
                     
                            </div>
                        </div>
                    </div>
                    <!--/.col-->
                </div>
                <!--/.row-->
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary buttonSize_Standar_Save" [disabled]="editForm.invalid">Guardar</button>
                    </div>
                    <!--/.row-->
                </div>
            </div>
        </form>
  
    </div>

</ng-template>