<!--Contenedor principal-->
<div class="container-fluid" style="width: 100%;">

    <br>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="searchText"
                    [ngModelOptions]="{standalone: true}">
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-bordered table-condensed">
            <thead>
                <tr class="tabl_eHeader_Color">
                    <th>Número</th>
                    <th>Enpresa</th>
                    <th>Cliente</th>
                    <th>Teléfono</th>
                    <th>Fecha</th>
                    <th><span class="center">Estado</span></th>
                    <th><span class="center">Detalles</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let item of appointments | filter : searchText | paginate: { itemsPerPage: 10, currentPage: _currentPage}">
                    <td>{{item.Id}}</td>
                    <td>{{item.EnterpriseName}}</td>
                    <td>{{item.UserName}}</td>
                    <td>{{item.PhoneNumber}}</td>
                    <td>{{item.StartDate}}</td>
                    <td class="td_min"> <span class="{{item.StatusColour}} center bold"
                            style="color: rgb(61, 47, 47);">{{item.Status}}</span> </td>
                    <td class="center"> <button (click)="openDetailModal(item.Id)"> <i class="fa fa-eye"></i> </button>
                    </td>
                    <td>
                        <div class="btn-group" dropdown>
                            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                              Acciones <span class="caret"></span>
                            </button>
                            <ul *dropdownMenu class="dropdown-menu" role="menu">
                              <li role="menuitem"><a class="dropdown-item" (click)="updateStatus('InProcess', item.Id)">Empezar</a></li>
                              <li role="menuitem"><a class="dropdown-item" (click)="updateStatus('Finished', item.Id)">Finalizar</a></li>
                              <li role="menuitem"><a class="dropdown-item" (click)="updateStatus('Cancelled', item.Id)">Cancelar</a></li>
                            </ul>
                          </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="_currentPage = $event" autoHide="true" responsive="true"
            previousLabel="Anterior" nextLabel="Siguiente">
        </pagination-controls>
    </div>

</div>



<!--Appointment detail modal-->
<ng-template #appointmentDetailModal let-modal>
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <h4 class="sub-title">Datos de la Empresa ó Servicio</h4>
        <br>

        <a>
            <img src="{{appointmentDetail.EnterpriseImage}}" class="center" style="width: 200; height: 140px;">
        </a>

        <br>
        <div class="row">
            <div class="col-md-4">
                <h5 class="label">Nombre:</h5>
            </div>
            <div class="col-md-8">
                <textarea class="form-control bold">{{appointmentDetail.EnterpriseName}}</textarea>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-4">
                <h5 class="label">Dirección:</h5>
            </div>
            <div class="col-md-8">
                <textarea class="form-control bold">{{appointmentDetail.EnterpriseAddress}}</textarea>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-4">
                <h5 class="label">Teléfono:</h5>
            </div>
            <div class="col-md-8">
                <span class="form-control bold">{{appointmentDetail.EnterprisePhoneNumber}}</span>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-4">
                <h5 class="label">Tiempo estimado por servicio:</h5>
            </div>
            <div class="col-md-8">
                <span class="form-control bold">{{appointmentDetail.EnterpriseServiceTime}}&nbsp;minutos</span>
            </div>
        </div>

        <br>
        <br>
        <h4 class="sub-title">Datos del Solicitante</h4>

        <br>
        <div class="row">
            <div class="col-md-4">
                <h5 class="label">Nombre:</h5>
            </div>
            <div class="col-md-8">
                <textarea class="form-control bold">{{appointmentDetail.UserName}}</textarea>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-4">
                <h5 class="label">Teléfono:</h5>
            </div>
            <div class="col-md-8">
                <span class="form-control bold">{{appointmentDetail.PhoneNumber}}</span>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-4">
                <h5 class="label">Comentario:</h5>
            </div>
            <div class="col-md-8">
                <textarea class="form-control bold">{{appointmentDetail.Comment}}</textarea>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-4">
                <h5 class="label">Fecha para ser atendido:</h5>
            </div>
            <div class="col-md-8">
                <span class="form-control bold" style="color: red;">{{appointmentDetail.StartDate}}</span>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-4">
                <h5 class="label">Cantidad de turnos ó citas delante de mi:</h5>
            </div>
            <div class="col-md-8">
                <span class="form-control bold" style="color: red;">{{appointmentDetail.InFrontMe}}</span>
            </div>
        </div>

    </div>

    <br>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger buttonSize_Standar_Close"
            (click)="modal.close('Close click')">Cerrar</button>
    </div>
</ng-template>