

<!--Call spinner-->
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="rgb(152, 214, 218)"
type="timer"
>
<p style="font-size: 20px; color: white">Cangando...</p>
</ngx-spinner>

<!--Contenedor I-->
  <div class="">

    <br>
    <!--Principal title
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary Header">Bienvenido al Municipio San Antonio de Guerra</button>
      </div>
    </div>
    <br> -->
    <span class="center bold" style="font-size: 18px;">Para cualquier publicidad ó sugerencia favor comunicarse al cel: <span style="color: red;">829-909-3042</span>, correo: <span style="color: red;">antoni.sirena@gmail.com</span> </span>

    <!-- <ng-marquee speed="drowsy">
      <span class="bold" style="color: rgb(16, 111, 189); font-size: 50px;">GUERRA</span>
      <span class="bold" style="color: rgb(209, 24, 24); font-size: 50px;">INFO</span>
      <span class="bold" style="color: rgb(18, 131, 18); font-size: 50px;">&nbsp;LES DESEA UN FELIZ AÑO NUEVO</span>
    </ng-marquee> -->

    <br>
    <br>
    <div class="row">

      <div class="col-md-6">
        <ngb-carousel class="center" *ngIf="images_B" [showNavigationArrows]="true"
        [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide *ngFor="let image of images_B">
          <div class="picsum-img-wrapper">
            <img [src]="image" alt="Random slide" style="width:50%; height:60%;">
          </div>
        </ng-template>
      </ngb-carousel>
      </div>
      <br>
      <br>

      <div class="col-md-6">
        <ngb-carousel class="center" *ngIf="images_C" [showNavigationArrows]="true"
        [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide *ngFor="let image of images_C">
          <div class="picsum-img-wrapper">
            <img [src]="image" alt="Random slide" style="width:50%; height:60%;">
          </div>
        </ng-template>
      </ngb-carousel>
      </div>

    </div>
    <br>
    <br>
    <!--Menú-->
    <div class="row">
      <div class="col-md-12">

        <nav class="navbar navbar-expand-lg navbar-light bg-success">
          <a class="navbar-brand btn-white" style="font-weight: bold; color: rgb(212, 19, 13);">MI CIUDAD</a>
          <button id="btnMenu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <span style="font-weight: bold; color: white;">FILOSOFIA</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" (click)="openMisionModal('Mision')">Misión</a>
                  <a class="dropdown-item" (click)="openVisionModal('Vision')">Visión</a>
                  <a class="dropdown-item" (click)="openValoresModal('Valores')">Valores</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <span style="font-weight: bold; color: white;">CULTURA</span>
                </a>
                <div class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" (click)="openHistoryGuerraModal('History_Guerra')">Hisotiria del municipio</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <span style="font-weight: bold; color: white;">DIRECTORIOS DE NEGOCIOS</span>
                </a>
                <div class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" (click)="openLawyerModal('Lawyer_Directory')">Abogados</a>
                  <a class="dropdown-item" (click)="openAutoModal('Auto_Directory')">Autos: (RentCars y Dealers)</a>
                  <a class="dropdown-item" (click)="openFoodModal('Food_Directory')">Comidas</a>
                  <a class="dropdown-item" (click)="openSupermarketProvisionsModal('SupermarketProvisions_Directory')">Comerciantes y Detallistas de Provisiones</a>
                  <a class="dropdown-item" (click)="openEntertainmentModal('Entertainment_Directory')">Entretenimientos: (Club Night, Billar, Drink y Piscina)</a>
                  <a class="dropdown-item" (click)="openAccountingModal('Accounting_Directory')">Contabilidad</a>
                  <a class="dropdown-item" (click)="openGraphicDesignModal('GraphicDesign_Directory')">Diseño: (Gráfico, de Moda y más)</a>
                  <a class="dropdown-item" (click)="openFarmaceModal('FarmaceDirectory')">Farmacias</a>
                  <a class="dropdown-item" (click)="openHardwareStoreReplacementModal('HardwareStoreReplacement_Directory')">Ferreterías y Repuestos</a>
                  <a class="dropdown-item" (click)="openHotelCottageModal('HotelCottage_Directory')">Hoteles y Casas de campo</a>
                  <a class="dropdown-item" (click)="openCivilEngineerModal('CivilEngineer_Directory')">Ingeniería Civil: (Agrimensura, Construcción, Electricidad y Plomería)</a>
                  <a class="dropdown-item" (click)="openBeautyStyleModal('BeautyStyle_Directory')">Salones, Uñas y Barberías</a>
                  <a class="dropdown-item" (click)="openHealthModal('Health_Directory')">Salud: (Clinicas y Hospitales)</a>
                  <a class="dropdown-item" (click)="openWorkshopsModal('Workshops_Directory')">Talleres</a>
                  <a class="dropdown-item" (click)="openDriveModal('Driver_Directory')">Taxis y Deliverys</a>
                  <a class="dropdown-item" (click)="openMobileComputerStoresModal('MobileComputerStores_Directory')">Tecnología: (Computadoras, Sistemas, Seguridad y Celulares)</a>
                  <a class="dropdown-item" (click)="openStoreModal('Store_Directory')">Tiendas</a>
                  <a class="dropdown-item" (click)="openNurseryModal('Nursery_Directory')">Viveros</a>
                </div>
              </li>
              
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Buscar">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form> -->
          </div>
        </nav>
      </div>
    </div>
    <br>
    <br>


    <!--Principal row-->
    <div class="row">
      <br>
      <br>
      <!--Firt column-->
      <div class="col-md-8">         
        <ngb-carousel class="center" *ngIf="images_A" [showNavigationArrows]="true"
          [showNavigationIndicators]="showNavigationIndicators">
          <ng-template ngbSlide *ngFor="let image of images_A">
            <div class="picsum-img-wrapper">
              <img [src]="image" alt="Random slide" style="width:70%; height:50%;">
            </div>
          </ng-template>
        </ngb-carousel>

        <br>
        <br>
        <br>

        <!--Novelties and news-->
        <div class="row">
          <div class="col-sm-12">

                <app-view-market> </app-view-market>
            
                <div class="card-header" style="margin-bottom: 8px; background-color: rgba(30, 103, 172, 0.945);">
                  <div class="row">
                    <div class="col-md-12">
                      <h3 class="center" style="color: white">NOVEDADES Y NOTICIAS</h3>
                    </div>
                  </div>
                </div>

                <ngb-tabset [destroyOnHide]="false">
                  
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div (click)="loadindGetNoveltiesByType('Science')" class="novelty-tab">Ciencia y Tecnología</div>
                    </ng-template>

                    <ng-template ngbTabContent>

                      <div class="centerDivScroll">
                        <div *ngFor="let item of novelties" class="novelty">
                          <h4 class="noveltyText">{{item.Title}}</h4>
                          <div class="img">
                            <img src="{{coreURL}}api/portada/GetImageByNoveltyId?id={{item.Id}}&width={{img_Width}}&height={{img_height}}">
                          </div>
                          <p class="justify noveltyText" [innerHTML]="item.Description">
                          </p>
                          <p class="right noveltyText bold">
                            Publicada el : {{item.StartDate}}
                          </p>
                          <hr class="hr">
                        </div>
                      </div>

                    </ng-template>
                  </ngb-tab>

                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div (click)="loadindGetNoveltiesByType('Sporty')" class="novelty-tab">Deporte</div>
                    </ng-template>

                    <ng-template ngbTabContent>

                      <div class="centerDivScroll">
                        <div *ngFor="let item of novelties" class="novelty">
                          <h4 class="noveltyText">{{item.Title}}</h4>
                          <div class="img">
                            <img src="{{coreURL}}api/portada/GetImageByNoveltyId?id={{item.Id}}&width={{img_Width}}&height={{img_height}}">
                          </div>
                          <p class="justify noveltyText" [innerHTML]="item.Description">
                          </p>
                          <p class="right noveltyText bold">
                            Publicada el : {{item.StartDate}}
                          </p>
                          <hr class="hr">
                        </div>
                      </div>

                    </ng-template>
                  </ngb-tab>

                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div (click)="loadindGetNoveltiesByType('Politics')" class="novelty-tab">Política</div>
                    </ng-template>

                    <ng-template ngbTabContent>

                      <div class="centerDivScroll">
                        <div *ngFor="let item of novelties" class="novelty">
                          <h4 class="noveltyText">{{item.Title}}</h4>
                          <div class="img">
                            <img src="{{coreURL}}api/portada/GetImageByNoveltyId?id={{item.Id}}&width={{img_Width}}&height={{img_height}}">
                          </div>
                          <p class="justify noveltyText" [innerHTML]="item.Description">
                          </p>
                          <p class="right noveltyText bold">
                            Publicada el : {{item.StartDate}}
                          </p>
                          <hr class="hr">
                        </div>
                      </div>

                    </ng-template>
                  </ngb-tab>

                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div (click)="loadindGetNoveltiesByType('Show')" class="novelty-tab">Espectáculo</div>
                    </ng-template>

                    <ng-template ngbTabContent>

                      <div class="centerDivScroll">
                        <div *ngFor="let item of novelties" class="novelty">
                          <h4 class="noveltyText">{{item.Title}}</h4>
                          <div class="img">
                            <img src="{{coreURL}}api/portada/GetImageByNoveltyId?id={{item.Id}}&width={{img_Width}}&height={{img_height}}">
                          </div>
                          <p class="justify noveltyText" [innerHTML]="item.Description">
                          </p>
                          <p class="right noveltyText bold">
                            Publicada el : {{item.StartDate}}
                          </p>
                          <hr class="hr">
                        </div>
                      </div>

                    </ng-template>
                  </ngb-tab>

                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div (click)="loadindGetNoveltiesByType('Social')" class="novelty-tab">Social</div>
                    </ng-template>

                    <ng-template ngbTabContent>

                      <div class="centerDivScroll">
                        <div *ngFor="let item of novelties" class="novelty">
                          <h4 class="noveltyText">{{item.Title}}</h4>
                          <div class="img">
                            <img src="{{coreURL}}api/portada/GetImageByNoveltyId?id={{item.Id}}&width={{img_Width}}&height={{img_height}}">
                          </div>
                          <p class="justify noveltyText" [innerHTML]="item.Description">
                          </p>
                          <p class="right noveltyText bold">
                            Publicada el : {{item.StartDate}}
                          </p>
                          <hr class="hr">
                        </div>
                      </div>

                    </ng-template>
                  </ngb-tab>

                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div (click)="loadindGetNoveltiesByType('Economy')" class="novelty-tab">Economía</div>
                    </ng-template>

                    <ng-template ngbTabContent>

                      <div class="centerDivScroll">
                        <div *ngFor="let item of novelties" class="novelty">
                          <h4 class="noveltyText">{{item.Title}}</h4>
                          <div class="img">
                            <img src="{{coreURL}}api/portada/GetImageByNoveltyId?id={{item.Id}}&width={{img_Width}}&height={{img_height}}">
                          </div>
                          <p class="justify noveltyText" [innerHTML]="item.Description">
                          </p>
                          <p class="right noveltyText bold">
                            Publicada el : {{item.StartDate}}
                          </p>
                          <hr class="hr">
                        </div>
                      </div>

                    </ng-template>
                  </ngb-tab>

                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div (click)="loadindGetNoveltiesByType('Art')" class="novelty-tab">Arte</div>
                    </ng-template>

                    <ng-template ngbTabContent>

                      <div class="centerDivScroll">
                        <div *ngFor="let item of novelties" class="novelty">
                          <h4 class="noveltyText">{{item.Title}}</h4>
                          <div class="img">
                            <img src="{{coreURL}}api/portada/GetImageByNoveltyId?id={{item.Id}}&width={{img_Width}}&height={{img_height}}">
                          </div>
                          <p class="justify noveltyText" [innerHTML]="item.Description">
                          </p>
                          <p class="right noveltyText bold">
                            Publicada el : {{item.StartDate}}
                          </p>
                          <hr class="hr">
                        </div>
                      </div>

                    </ng-template>
                  </ngb-tab>

                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div (click)="loadindGetNoveltiesByType('Police')" class="novelty-tab">Policiale</div>
                    </ng-template>

                    <ng-template ngbTabContent>

                      <div class="centerDivScroll">
                        <div *ngFor="let item of novelties" class="novelty">
                          <h4 class="noveltyText">{{item.Title}}</h4>
                          <div class="img">
                            <img src="{{coreURL}}api/portada/GetImageByNoveltyId?id={{item.Id}}&width={{img_Width}}&height={{img_height}}">
                          </div>
                          <p class="justify noveltyText" [innerHTML]="item.Description">
                          </p>
                          <p class="right noveltyText bold">
                            Publicada el : {{item.StartDate}}
                          </p>
                          <hr class="hr">
                        </div>
                      </div>

                    </ng-template>
                  </ngb-tab>

                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div (click)="loadindGetNoveltiesByType('Education')" class="novelty-tab">Educación</div>
                    </ng-template>

                    <ng-template ngbTabContent>

                      <div class="centerDivScroll">
                        <div *ngFor="let item of novelties" class="novelty">
                          <h4 class="noveltyText">{{item.Title}}</h4>
                          <div class="img">
                            <img src="{{coreURL}}api/portada/GetImageByNoveltyId?id={{item.Id}}&width={{img_Width}}&height={{img_height}}">
                          </div>
                          <p class="justify noveltyText" [innerHTML]="item.Description">
                          </p>
                          
                          <p class="right noveltyText bold">
                            Publicada el : {{item.StartDate}}
                          </p>
                          <hr class="hr">
                        </div>
                      </div>

                    </ng-template>
                  </ngb-tab>

                </ngb-tabset>

          </div>
        </div>

        <!--marquee-->
        <!-- <br>
        <marquee speed="drowsy" id="mymarqueeA">
          <div class="card">
            <div class="card-body">               
              
              <div class="row textLateralStyle lateralsDivScroll">
                <div class="col-md-12">
                  <h3>Monta tu publicidad totalmente GRATIS</h3>
                </div>
              </div>
              
            </div>
          </div>
        </marquee>

        <div class="row">
          <div class="col-md-6 center">
            <input type="button" class="btn btn-danger marquee_Button"  value="Detener" onClick="document.getElementById('mymarqueeA').stop();">
            <input type="button" class="btn btn-success marquee_Button" value="Seguir" onClick="document.getElementById('mymarqueeA').start();">
          </div>
        </div>
        <br>
        <br> -->
        <!--end marquee-->

      </div>


      <!--Second column-->
      <div class="col-md-4">

        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">               
                
                <div class="row textLateralStyle lateralsDivScroll">
                  <div class="col-md-12">
                    <p [innerHTML]="leftInfo_A.Body"> </p>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">               
                
                <div class="row textLateralStyle lateralsDivScroll">
                  <div class="col-md-12">
                    <p [innerHTML]="leftInfo_B.Body"> </p>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">               
                
                <div class="row textLateralStyle lateralsDivScroll">
                  <div class="col-md-12">
                    <p [innerHTML]="leftInfo_C.Body"> </p>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                
                <div class="row textLateralStyle lateralsDivScroll">
                  <div class="col-md-12">
                    <span [innerHTML]="rightInfo_A.Body"> </span>
                  </div>
                </div> 

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                
                <div class="row textLateralStyle lateralsDivScroll">
                  <div class="col-md-12">
                    <span [innerHTML]="rightInfo_B.Body"> </span>
                  </div>
                </div> 

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                
                <div class="row textLateralStyle lateralsDivScroll">
                  <div class="col-md-12">
                    <span [innerHTML]="rightInfo_C.Body"> </span>
                  </div>
                </div> 

              </div>
            </div>
          </div>
        </div>


      </div>

    </div>

  </div>

    



<!--Automatic Publicity Modal -->
<ng-template #automaticPublicityModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Anuncios</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <!--Misión-->
    <div class="row">
      <div class="col-sm-12">
        <strong class="center templateHeader">Encontré algo interesante para ti</strong>
        <br>
        <div class="center" [innerHTML]="automaticPublicityPortada.Body">
        </div>
      </div>
      <!--/.col-->
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


  
<!--Mision Modal -->
<ng-template #misionModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Misión</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <!--Misión-->
    <div class="row">
      <div class="col-sm-12">
        <div class="card border-primary templateBodyColor">
          <br>
          <strong class="center templateHeader">Misión</strong>
          <div class="card-body">
            <div>
              <span [innerHTML]="portada.Body" class="templateStyle"> </span>
            </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--Visión Modal -->
<ng-template #visionModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Visión</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row">
      <div class="col-sm-12">
        <div class="card border-primary templateBodyColor">
          <br>
          <strong class="center templateHeader">Visión</strong>
          <div class="card-body">
            <div>
              <span [innerHTML]="portada.Body" class="templateStyle"> </span>
            </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--Valores Modal -->
<ng-template #valoresModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Valores</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row">
      <div class="col-sm-12">
        <div class="card border-primary templateBodyColor">
          <br>
          <strong class="center templateHeader">Valores</strong>
          <div class="card-body">
            <div>
              <span [innerHTML]="portada.Body" class="templateStyle"> </span>
            </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--farmace Modal -->
<ng-template #farmaceModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Farmacias</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body templateBodyColor">
    <strong class="center templateHeader">Farmacias de nuesto Municipio y zonas aledañas</strong>
    <div>
      <span [innerHTML]="portada.Body" class="_templateStyle"> </span>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--beauty style Modal -->
<ng-template #beautyStyleModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Belleza y Estilo</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body templateBodyColor">

    <strong class="center templateHeader">Salones, Centro de Uñas y Barbería de nuesto Municipio y zonas aledañas</strong>
    <div>
      <span [innerHTML]="portada.Body" class="_templateStyle"> </span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--mobile computer stores Modal -->
<ng-template #mobileComputerStores let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Tecnología</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body templateBodyColor">

    <strong class="center templateHeader">Tiendas de Celulares y Computadoras de nuesto Municipio y zonas aledañas</strong>
    <div>
      <span [innerHTML]="portada.Body" class="_templateStyle"> </span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--food Modal -->
<ng-template #foodModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Comidas</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body templateBodyColor">

    <strong class="center templateHeader">Centros de Comidas de nuesto Municipio y zonas aledañas</strong>
    <div>
      <span [innerHTML]="portada.Body" class="_templateStyle"> </span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--supermarket provisions Modal -->
<ng-template #supermarketProvisionsModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Comerciantes y Detallistas de Provisiones</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body templateBodyColor">

    <strong class="center templateHeader">Comerciantes y Detallistas de Provisiones del Mun/ San Antonio de Guerra y zonas aledañas</strong>
    <div>
      <span [innerHTML]="portada.Body" class="_templateStyle"> </span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--hardware store replacement Modal -->
<ng-template #hardwareStoreReplacementModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Ferreterías y Repuestos</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body templateBodyColor">

    <strong class="center templateHeader">Ferreterías y Repuestos de nuesto Municipio y zonas aledañas</strong>
    <div>
      <span [innerHTML]="portada.Body" class="_templateStyle"> </span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--history guerra Modal -->
<ng-template #historyGuerraModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Cultura</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body templateBodyColor">

    <strong class="center templateHeader">Historia del Municipio San Antonio de Guerra y zonas aledañas</strong>
    <div>
      <span [innerHTML]="portada.Body" class="_templateStyle"> </span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--history guerra Modal -->
<ng-template #workshopsModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Talleres</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body templateBodyColor">

    <strong class="center templateHeader">Talleres del Municipio San Antonio de Guerra y zonas aledañas</strong>
    <div>
      <span [innerHTML]="portada.Body" class="_templateStyle"> </span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--auto Modal -->
<ng-template #autoModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Autos</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body templateBodyColor">

    <strong class="center templateHeader">RentCars y Dealers del Municipio San Antonio de Guerra y zonas aledañas</strong>
    <div>
      <span [innerHTML]="portada.Body" class="_templateStyle"> </span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--driver Modal -->
<ng-template #driverModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Taxis y Deliverys</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body templateBodyColor">

    <strong class="center templateHeader">Taxistas y Deliverys del Municipio San Antonio de Guerra y zonas aledañas</strong>
    <div>
      <span [innerHTML]="portada.Body" class="_templateStyle"> </span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--civil engineer modal -->
<ng-template #civilEngineerModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Ingeniería Civil</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body templateBodyColor">

    <strong class="center templateHeader">Servicios de ingeniería civil del Municipio San Antonio de Guerra y zonas aledañas</strong>
    <div>
      <span [innerHTML]="portada.Body" class="_templateStyle"> </span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--hotel cottage modal -->
<ng-template #hotelCottageModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Hoteles y Casas de Campo</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body templateBodyColor">

    <strong class="center templateHeader">Hoteles y Casas de Campo del Municipio San Antonio de Guerra y zonas aledañas</strong>
    <div>
      <span [innerHTML]="portada.Body" class="_templateStyle"> </span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--entertainment modal -->
<ng-template #entertainmentModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Entretenimiento</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body templateBodyColor">

    <strong class="center templateHeader">Centros de entretenimiento del Municipio San Antonio de Guerra y zonas aledañas</strong>
    <div>
      <span [innerHTML]="portada.Body" class="_templateStyle"> </span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--lawyer modal -->
<ng-template #lawyerModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Abogado</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body templateBodyColor">

    <strong class="center templateHeader">Abogados del Municipio San Antonio de Guerra y zonas aledañas</strong>
    <div>
      <span [innerHTML]="portada.Body" class="_templateStyle"> </span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--store modal -->
<ng-template #storeModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Tienda</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body templateBodyColor">

    <strong class="center templateHeader">Tiendas del Municipio San Antonio de Guerra y zonas aledañas</strong>
    <div>
      <span [innerHTML]="portada.Body" class="_templateStyle"> </span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>



<!--accounting modal -->
<ng-template #accountingModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Cotabilidad</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body templateBodyColor">

    <strong class="center templateHeader">Contadores del Municipio San Antonio de Guerra y zonas aledañas</strong>
    <div>
      <span [innerHTML]="portada.Body" class="_templateStyle"> </span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>



<!--graphic design modal -->
<ng-template #graphicDesignModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Diseño</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body templateBodyColor">

    <strong class="center templateHeader">Diseñadores del Municipio San Antonio de Guerra y zonas aledañas</strong>
    <div>
      <span [innerHTML]="portada.Body" class="_templateStyle"> </span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--nursery modal -->
<ng-template #nurseryModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Vivero</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body templateBodyColor">

    <strong class="center templateHeader">Viveros del Municipio San Antonio de Guerra y zonas aledañas</strong>
    <div>
      <span [innerHTML]="portada.Body" class="_templateStyle"> </span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--health modal -->
<ng-template #healthModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Salud</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body templateBodyColor">

    <strong class="center templateHeader">Clinicas y Hospitales del Municipio San Antonio de Guerra y zonas aledañas</strong>
    <div>
      <span [innerHTML]="portada.Body" class="_templateStyle"> </span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>