
<!--Contenedor I-->
    <br>
    <!--Principal title-->
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary Header">Bienvenido al Municipio San Antonio de Guerra</button>
      </div>
    </div>
    <br>
    <span class="center bold" style="font-size: 18px;">Para cualquier publicidad ó sugerencia favor comunicarse al cel: <span style="color: red;">829-909-3042</span>, correo: <span style="color: red;">antoni.sirena@gmail.com</span> </span>
    <br>
    <br>
    <br>

    <ng-marquee speed="drowsy">
      <span class="marqueeStyle" [innerHTML]="bannerA.Body"></span>
    </ng-marquee>

    <!--Menú-->
    <div class="row">
      <div class="col-md-12">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand btn-white" style="font-weight: bold;">MENU</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <span style="font-weight: bold;">FILOSOFIA MUNICIPAL</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" (click)="openMisionModal('Mision')">Misión</a>
                  <a class="dropdown-item" (click)="openVisionModal('Vision')">Visión</a>
                  <a class="dropdown-item" (click)="openValoresModal('Valores')">Valores</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <span style="font-weight: bold;">CULTURA</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" (click)="openHistoryGuerraModal('History_Guerra')">Hisotiria del municipio</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <span style="font-weight: bold;">DIRECTORIOS</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" (click)="openFoodModal('Food_Directory')">Comidas</a>
                  <a class="dropdown-item" (click)="openSupermarketProvisionsModal('SupermarketProvisions_Directory')">Comerciantes y Detallistas de Provisiones</a>
                  <a class="dropdown-item" (click)="openFarmaceModal('FarmaceDirectory')">Farmacias</a>
                  <a class="dropdown-item" (click)="openHardwareStoreReplacementModal('HardwareStoreReplacement_Directory')">Ferreterías y Repuestos</a>
                  <a class="dropdown-item" (click)="openBeautyStyleModal('BeautyStyle_Directory')">Salones, Uñas y Barberías</a>
                  <a class="dropdown-item" (click)="openMobileComputerStoresModal('MobileComputerStores_Directory')">Tiendas de Celulares y Computadoras</a>
                  <a class="dropdown-item" (click)="openWorkshopsModal('Workshops_Directory')">Talleres</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <span style="font-weight: bold;">TURISMO INTERNO</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                </div>
              </li>
              
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Buscar">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form> -->
          </div>
        </nav>
      </div>
    </div>
    <br>


    <!--Principal row-->
    <div class="row">
      <br>
      <br>
      <!--Firt column-->
      <div class="col-md-8">         
        <ngb-carousel class="center" *ngIf="images" [showNavigationArrows]="true"
          [showNavigationIndicators]="showNavigationIndicators">
          <ng-template ngbSlide *ngFor="let image of images">
            <div class="picsum-img-wrapper">
              <img [src]="image" alt="Random slide" style="width:70%; height:50%;">
            </div>
          </ng-template>
        </ngb-carousel>

        <br>

        <!--Novelties and news-->
        <div class="row">
          <div class="col-sm-12">

                <div class="card-header">
                  <div class="row">
                    <div class="col-md-12">
                      <h3 class="center" style="color: red;">Novedades y Noticias</h3>
                    </div>
                  </div>
                </div>

                <br>
                <ngb-tabset [destroyOnHide]="false">
                  
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div (click)="getNoveltiesByType('Science')" class="bold">Ciencia y Tecnología</div>
                    </ng-template>

                    <ng-template ngbTabContent>

                      <div class="centerDivScroll">
                        <div *ngFor="let item of novelties" class="novelty">
                          <h4 class="noveltyText">{{item.Title}}</h4>
                          <div class="col-md-4">
                            <img src="{{item.ImgBase64}}" class="imgStyle">
                          </div>
                          <p class="center noveltyText">
                            {{item.Description}}
                          </p>
                          <p class="right noveltyText" style="font-weight: bold;">
                            Publicada el : {{item.StartDate}}
                          </p>
                        </div>
                      </div>

                    </ng-template>
                  </ngb-tab>

                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div (click)="getNoveltiesByType('Sporty')" class="bold">Deporte</div>
                    </ng-template>

                    <ng-template ngbTabContent>

                      <div class="centerDivScroll">
                        <div *ngFor="let item of novelties" class="novelty">
                          <h4 class="noveltyText">{{item.Title}}</h4>
                          <div class="col-md-4">
                            <img src="{{item.ImgBase64}}" class="imgStyle">
                          </div>
                          <p class="center noveltyText">
                            {{item.Description}}
                          </p>
                          <p class="right noveltyText" style="font-weight: bold;">
                            Publicada el : {{item.StartDate}}
                          </p>                               
                        </div>
                      </div>

                    </ng-template>
                  </ngb-tab>

                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div (click)="getNoveltiesByType('Politics')" class="bold">Política</div>
                    </ng-template>

                    <ng-template ngbTabContent>

                      <div class="centerDivScroll">
                        <div *ngFor="let item of novelties" class="novelty">
                          <h4 class="noveltyText">{{item.Title}}</h4>
                          <div class="col-md-4">
                            <img src="{{item.ImgBase64}}" class="imgStyle">
                          </div>
                          <p class="justify noveltyText">
                            {{item.Description}}
                          </p>
                          <p class="center noveltyText" style="font-weight: bold;">
                            Publicada el : {{item.StartDate}}
                          </p>
                        </div>
                      </div>

                    </ng-template>
                  </ngb-tab>

                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div (click)="getNoveltiesByType('Show')" class="bold">Espectáculo</div>
                    </ng-template>

                    <ng-template ngbTabContent>

                      <div class="centerDivScroll">
                        <div *ngFor="let item of novelties" class="novelty">
                          <h4 class="noveltyText">{{item.Title}}</h4>
                          <div class="col-md-4">
                            <img src="{{item.ImgBase64}}" class="imgStyle">
                          </div>
                          <p class="center noveltyText">
                            {{item.Description}}
                          </p>
                          <p class="right noveltyText" style="font-weight: bold;">
                            Publicada el : {{item.StartDate}}
                          </p>
                        </div>
                      </div>

                    </ng-template>
                  </ngb-tab>

                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div (click)="getNoveltiesByType('Unusual')" class="bold">Insólita</div>
                    </ng-template>

                    <ng-template ngbTabContent>

                      <div class="centerDivScroll">
                        <div *ngFor="let item of novelties" class="novelty">
                          <h4 class="noveltyText">{{item.Title}}</h4>
                          <div class="col-md-4">
                            <img src="{{item.ImgBase64}}" class="imgStyle">
                          </div>
                          <p class="justify noveltyText">
                            {{item.Description}}
                          </p>
                          <p class="noveltyText" style="font-weight: bold;">
                            Publicada el : {{item.StartDate}}
                          </p>
                        </div>
                      </div>

                    </ng-template>
                  </ngb-tab>

                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div (click)="getNoveltiesByType('Economy')" class="bold">Economía</div>
                    </ng-template>

                    <ng-template ngbTabContent>

                      <div class="centerDivScroll">
                        <div *ngFor="let item of novelties" class="novelty">
                          <h4 class="noveltyText">{{item.Title}}</h4>
                          <div class="col-md-4">
                            <img src="{{item.ImgBase64}}" class="imgStyle">
                          </div>
                          <p class="justify noveltyText">
                            {{item.Description}}
                          </p>
                          <p class="center noveltyText" style="font-weight: bold;">
                            Publicada el : {{item.StartDate}}
                          </p>
                        </div>
                      </div>

                    </ng-template>
                  </ngb-tab>

                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div (click)="getNoveltiesByType('Art')" class="bold">Arte</div>
                    </ng-template>

                    <ng-template ngbTabContent>

                      <div class="centerDivScroll">
                        <div *ngFor="let item of novelties" class="novelty">
                          <h4 class="noveltyText">{{item.Title}}</h4>
                          <div class="col-md-4">
                            <img src="{{item.ImgBase64}}" class="imgStyle">
                          </div>
                          <p class="justify noveltyText">
                            {{item.Description}}
                          </p>
                          <p class="center noveltyText" style="font-weight: bold;">
                            Publicada el : {{item.StartDate}}
                          </p>
                        </div>
                      </div>

                    </ng-template>
                  </ngb-tab>

                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div (click)="getNoveltiesByType('Police')" class="bold">Policiale</div>
                    </ng-template>

                    <ng-template ngbTabContent>

                      <div class="centerDivScroll">
                        <div *ngFor="let item of novelties" class="novelty">
                          <h4 class="noveltyText">{{item.Title}}</h4>
                          <div class="col-md-4">
                            <img src="{{item.ImgBase64}}" class="imgStyle">
                          </div>
                          <p class="justify noveltyText">
                            {{item.Description}}
                          </p>
                          <p class="center noveltyText" style="font-weight: bold;">
                            Publicada el : {{item.StartDate}}
                          </p>
                        </div>
                      </div>

                    </ng-template>
                  </ngb-tab>

                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div (click)="getNoveltiesByType('Education')" class="bold">Educación</div>
                    </ng-template>

                    <ng-template ngbTabContent>

                      <div class="centerDivScroll">
                        <div *ngFor="let item of novelties" class="novelty">
                          <h4 class="noveltyText">{{item.Title}}</h4>
                          <div class="col-md-4">
                            <img src="{{item.ImgBase64}}" class="imgStyle">
                          </div>
                          <p class="center noveltyText">
                            {{item.Description}}
                          </p>
                          <p class="right noveltyText" style="font-weight: bold;">
                            Publicada el : {{item.StartDate}}
                          </p>
                        </div>
                      </div>

                    </ng-template>
                  </ngb-tab>

                </ngb-tabset>

          </div>
        </div>

        <br>
        <ng-marquee speed="drowsy">
          <div class="card">
            <div class="card-body">               
              
              <div class="row textLateralStyle lateralsDivScroll">
                <div class="col-md-12">
                  <h3>Monta tu publicidad totalmente GRATIS</h3>
                </div>
              </div>
              
            </div>
          </div>
        </ng-marquee>

      </div>


      <!--Second column-->
      <div class="col-md-4">
        <br>

        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">               
                
                <div class="row textLateralStyle lateralsDivScroll">
                  <div class="col-md-12">
                    <p [innerHTML]="leftInfo_A.Body"> </p>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">               
                
                <div class="row textLateralStyle lateralsDivScroll">
                  <div class="col-md-12">
                    <p [innerHTML]="leftInfo_B.Body"> </p>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">               
                
                <div class="row textLateralStyle lateralsDivScroll">
                  <div class="col-md-12">
                    <p [innerHTML]="leftInfo_C.Body"> </p>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                
                <div class="row textLateralStyle lateralsDivScroll">
                  <div class="col-md-12">
                    <span [innerHTML]="rightInfo_A.Body"> </span>
                  </div>
                </div> 

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                
                <div class="row textLateralStyle lateralsDivScroll">
                  <div class="col-md-12">
                    <span [innerHTML]="rightInfo_B.Body"> </span>
                  </div>
                </div> 

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                
                <div class="row textLateralStyle lateralsDivScroll">
                  <div class="col-md-12">
                    <span [innerHTML]="rightInfo_C.Body"> </span>
                  </div>
                </div> 

              </div>
            </div>
          </div>
        </div>


      </div>

    </div>

    

<!--Mision Modal -->
<ng-template #misionModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Misión</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <!--Misión-->
    <div class="row">
      <div class="col-sm-12">
        <div class="card border-primary templateBodyColor">
          <br>
          <strong class="center templateHeader">Misión</strong>
          <div class="card-body">
            <div>
              <span [innerHTML]="portada.Body" class="templateStyle"> </span>
            </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--Visión Modal -->
<ng-template #visionModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Visión</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row">
      <div class="col-sm-12">
        <div class="card border-primary templateBodyColor">
          <br>
          <strong class="center templateHeader">Visión</strong>
          <div class="card-body">
            <div>
              <span [innerHTML]="portada.Body" class="templateStyle"> </span>
            </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--Valores Modal -->
<ng-template #valoresModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Valores</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row">
      <div class="col-sm-12">
        <div class="card border-primary templateBodyColor">
          <br>
          <strong class="center templateHeader">Valores</strong>
          <div class="card-body">
            <div>
              <span [innerHTML]="portada.Body" class="templateStyle"> </span>
            </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--farmace Modal -->
<ng-template #farmaceModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Farmacias</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body templateBodyColor">
    <strong class="center templateHeader">Farmacias de nuesto Municipio y zonas aledañas</strong>
    <div>
      <span [innerHTML]="portada.Body" class="_templateStyle"> </span>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--beauty style Modal -->
<ng-template #beautyStyleModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Belleza y Estilo</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body templateBodyColor">

    <strong class="center templateHeader">Salones, Centro de Uñas y Barbería de nuesto Municipio y zonas aledañas</strong>
    <div>
      <span [innerHTML]="portada.Body" class="_templateStyle"> </span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--mobile computer stores Modal -->
<ng-template #mobileComputerStores let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Tecnología</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body templateBodyColor">

    <strong class="center templateHeader">Tiendas de Celulares y Computadoras de nuesto Municipio y zonas aledañas</strong>
    <div>
      <span [innerHTML]="portada.Body" class="_templateStyle"> </span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--food Modal -->
<ng-template #foodModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Comidas</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body templateBodyColor">

    <strong class="center templateHeader">Centros de Comidas de nuesto Municipio y zonas aledañas</strong>
    <div>
      <span [innerHTML]="portada.Body" class="_templateStyle"> </span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--supermarket provisions Modal -->
<ng-template #supermarketProvisionsModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Comerciantes y Detallistas de Provisiones</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body templateBodyColor">

    <strong class="center templateHeader">Supermercados, Almacenes y Colmados de nuesto Municipio y zonas aledañas</strong>
    <div>
      <span [innerHTML]="portada.Body" class="_templateStyle"> </span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--hardware store replacement Modal -->
<ng-template #hardwareStoreReplacementModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Ferreterías y Repuestos</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body templateBodyColor">

    <strong class="center templateHeader">Ferreterías y Repuestos de nuesto Municipio y zonas aledañas</strong>
    <div>
      <span [innerHTML]="portada.Body" class="_templateStyle"> </span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--hhistory guerra Modal -->
<ng-template #historyGuerraModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Cultura</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body templateBodyColor">

    <strong class="center templateHeader">Historia del Municipio San Antonio de Guerra</strong>
    <div>
      <span [innerHTML]="portada.Body" class="_templateStyle"> </span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>


<!--hhistory guerra Modal -->
<ng-template #workshopsModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Talleres</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body templateBodyColor">

    <strong class="center templateHeader">Talleres del Municipio San Antonio de Guerra</strong>
    <div>
      <span [innerHTML]="portada.Body" class="_templateStyle"> </span>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger buttonSize_Standar_Close" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>