

<!--Call spinner-->
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="rgb(152, 214, 218)"
type="timer"
>
<p style="font-size: 20px; color: white">Cangando...</p>
</ngx-spinner>

<br>
<app-view-market> </app-view-market>


<!--Automatic Publicity Modal -->
<ng-template #automaticPublicityModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Anuncios</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <!--Misión-->
    <div class="row">
      <div class="col-sm-12">
        <strong class="center templateHeader">Encontré algo interesante para ti</strong>
        <br>
        <div class="center" [innerHTML]="automaticPublicityPortada.Body">
        </div>
      </div>
      <!--/.col-->
    </div>

  </div>
</ng-template>