.Header{
    text-align: center; 
    font-weight: bold;
    font-size: 26px;
    width: 100%;
    border-radius: 17px;
}

.headerRow{
    background-color: rgba(1, 88, 201, 0.945);
    border-radius: 10px;
    margin: 5px;
}

.scroll {
    height:100%;
    overflow-y: scroll;
}


.textColorWhite{
    color: black;
    background-color: rgb(245, 227, 227);
    font: bold;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
    text-align: justify;
}

.textLateralStyle{
    color: black;
    background-color: rgb(250, 243, 243);
    font: bold;
    font-size: 15px;
}


.centerTextStyle{
    margin-left: 42px;
    margin-right: 37px;
}

.imgPortada{
    background: transparent;
    background-image: url(assets/img/portada/fondoBlanco.jpg);
    height: 100%;
    /* Para dejar la imagen de fondo centrada, vertical yhorizontalmente */
    background-position: center center;

    /* Para que la imagen de fondo no se repita */
    background-repeat: no-repeat;

    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    background-attachment: fixed;

    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-size: cover;

}

.menuRowStyle{
    background-color: rgb(253, 244, 244);
    height: 45px;
    border-radius: 7px;
    -webkit-box-shadow: -19px 5px 300px 30px rgba(137,120,140,1);
    -moz-box-shadow: -19px 5px 300px 30px rgba(137,120,140,1);
    box-shadow: -19px 5px 300px 30px rgba(137,120,140,1);
}

.menuButton{
    font-size: 20px;
    width: 90px;
    border-radius: 4px;
    margin-top: 6px;
    width:120px; 
}

.novelty{
   margin-top: 20px;
}

.noveltyText{
    margin-top: 8px;
    margin-left: 15px;
    margin-right: 15px;
}

.imgStyle{
    width: 250px; 
    height: 150px;
}

.lateralsDivScroll{
    overflow-y:scroll;
    height: 250px;
}

.centerDivScroll{
    overflow-y:scroll;
    height: 500px;
    background-color: rgb(216, 235, 236);
}

.marqueeStyle{
    font-size: 17px;
    width: 100%;
}

.historyGuerra_Stayle{
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 17px;
}