
.inbox{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
    font-size: 15px;
}

.header-detail {
    margin-left: 12px;
    margin-right: 5px;
}

.detail-resumen{
    font-size: 16px;
}

.btn-confirm{
    font-size: 20px;
    width: 100%;
}


.address{
    border-color: red;
}