<br>
<br>
<div class="card" style="background-color: rgb(141, 185, 199);">

    <br>

    <h4 class="bold center general-Style">Bandeja de entrada</h4>

    <br>


    <div class="card general-Style" style="background-color: rgb(143, 213, 223);">

        <br>

        <h4 class="label general-Style">Busqueda avanzada</h4>

        <br>

        <div class="row">
            <div class="col-md-6">

                <div class="row">
                    <div class="col-md-4">
                        <h5 class="label general-Style">Número de orden:</h5>
                    </div>
                    <div class="col-md-4 general-Style">
                        <input class="form-control" type="number" [(ngModel)]="orderId">
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-4">
                        <h5 class="label general-Style">Número de cliente:</h5>
                    </div>
                    <div class="col-md-4 general-Style">
                        <input class="form-control" type="number" [(ngModel)]="clientId">
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-4">
                        <h5 class="label general-Style">Seleccione un estado:</h5>
                    </div>
                    <div class="col-md-4 general-Style">
                        <ng-select class="bold" [items]="orderStatuses" bindLabel="Description" bindValue="Id"
                            virtualScroll="true" (change)="getOrderStatus($event)">
                        </ng-select>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary buscar" (click)="getInbox()">Buscar</button>
            </div>
        </div>

        <br>

    </div>


    <h5 class="bold center general-Style">Cantidad de ordenes encontradas {{orders.length}}</h5>

    <br>

    <div class="row card-group">

        <div class="col-md-3" *ngFor="let item of orders">

            <div style="border-radius: 10px; height: 225px; background-color: rgb(217, 240, 241);"
                class="card general-Style" (click)="openModalOrderDetail(item.Id)">

                <span class="inbox"> <span class="bold">Cliente : </span> {{item.ClientName}} # {{item.ClientId}}</span>
                <span class="inbox"> <span class="bold">Orden :</span> # {{item.Id}}</span>
                <span class="inbox"> <span class="bold">Fecha de creación : </span>{{item.Date}}</span>
                <span class="inbox"> <span class="bold">Estado : </span>{{item.Status}}</span>
                <span class="inbox"> <span class="bold">Monto total : </span>{{item.TotalAmount | currency}}</span>
                <span class="inbox"> <span class="bold">Método de pago : </span>{{item.PaymentMethod}}</span>

            </div>

        </div>

    </div>


</div>



<ng-template #orderDetailModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Detalle de la orden # {{orderDetail.Id}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="background-color: rgb(230, 244, 247);">

        <div class="row">

            <div class="col-md-12">
                <br>
                <div class="card">

                    <div class="row">
                        <div class="col-md-5">
                            <h6 style="margin-top: 8px;" class="header-detail"> <span class="bold">Orden : </span>#
                                {{orderDetail.Id}}</h6>
                            <h6 class="header-detail"> <span class="bold">Fecha de creación :
                                </span>{{orderDetail.Date}}</h6>
                            <h6 class="header-detail"> <span class="bold">Estado : </span>{{orderDetail.Status}}</h6>
                            <h6 class="header-detail"> <span class="bold">Método de pago :
                                </span>{{orderDetail.PaymentMethod}}</h6>
                        </div>

                        <div class="col-md-7">
                            <h6 style="margin-top: 8px;" class="header-detail"> <span class="bold">Cliente :
                                </span>{{orderDetail.Client}}</h6>
                            <h6 class="header-detail"> <span class="bold">Contacto :
                                </span>{{orderDetail.ClientPhoneNumber}}</h6>
                            <h6 class="header-detail"> <span class="bold">Dirección para recibir la orden :
                                </span>{{orderDetail.Address}}</h6>
                            <h6 class="header-detail"> <span class="bold">Comentario : </span>{{orderDetail.Comment}}
                            </h6>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div class="row" style="margin-bottom: 5px;">
            <div class="col-md-12">
                <h5 class="bold center">Detalles de artículo</h5>
            </div>
        </div>
        
        <div class="row">

            <div class="col-md-12">

                <div class="card">

                    <div class="table-responsive">
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Descripción</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                    <th>Subtotal</th>
                                    <th>ITBIS</th>
                                    <th>Total</th>
                                    <th>Comentario</th>
                                    <th>Estado</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr *ngFor="let item of orderDetail.Items">
                                    <td>{{item.ArticleId}}</td>
                                    <td>{{item.Title}}</td>
                                    <td>{{item.Quantity}}</td>
                                    <td>{{item.Price | currency}}</td>
                                    <td>{{item.Subtotal | currency}}</td>
                                    <td>{{item.ITBIS | currency}}</td>
                                    <td>{{item.TotalAmount | currency}}</td>
                                    <td>{{item.Comment}}</td>
                                    <td class="bold">{{item.Status}}</td>
                                    <td
                                        *ngIf="orderDetail.StatusShortName === 'Reception' && item.StatusShortName === 'PendingToReceive' ">
                                        <button class="btn btn-success bold"
                                            (click)="receiveArticle(item)">Recibir</button>
                                    </td>
                                    <td
                                        *ngIf="orderDetail.StatusShortName === 'PendingToConfirm' || item.StatusShortName === 'PendingToReceive' ">
                                        <button class="btn btn-primary bold" (click)="openModalAddArticle(item)">
                                            Detalles/Editar</button>
                                    </td>
                                    <td
                                        *ngIf="orderDetail.StatusShortName === 'PendingToConfirm' || item.StatusShortName === 'PendingToReceive' ">
                                        <button class="btn btn-danger bold"
                                            (click)="deleteArticle(item)">Eliminar</button>
                                    </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>


                </div>

                <div class="row">

                    <div class="col-md-9">

                    </div>

                    <div class="col-md-3">

                        <div class="card">

                            <div class="table-responsive">
                                <table class="table table-hover table-condensed detail-resumen">

                                    <tbody>
                                        <tr>
                                            <td class="bold">Subtotal</td>
                                            <td>{{orderDetail.Subtotal | currency}}</td>
                                        </tr>

                                        <tr>
                                            <td class="bold">Descuento</td>
                                            <td>{{orderDetail.Discount | currency}}</td>
                                        </tr>

                                        <tr>
                                            <td class="bold">ITBIS</td>
                                            <td>{{orderDetail.ITBIS | currency}}</td>
                                        </tr>

                                        <tr class="bold">
                                            <td>Total</td>
                                            <td>{{orderDetail.TotalAmount | currency}}</td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="row" *ngIf="orderDetail.StatusShortName === 'PendingToConfirm' ">

                    <div class="col-md-9">

                    </div>

                    <div class="col-md-3">

                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-success _btn-confirm" (click)="confirmOrder()">Confirmar
                                    orden</button>
                            </div>
                        </div>
                        <br>

                    </div>

                </div>

                <div class="row"
                    *ngIf="orderDetail.StatusShortName === 'PendingToConfirm' || orderDetail.StatusShortName === 'Reception'">

                    <div class="col-md-9">

                    </div>

                    <div class="col-md-3">

                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-danger _btn-confirm" (click)="cancelOrder()">Cancelar
                                    orden</button>
                            </div>
                        </div>
                        <br>

                    </div>

                </div>

                <div class="row" *ngIf="false">

                    <div class="col-md-9">

                    </div>

                    <div class="col-md-3">

                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn- btn-success _btn-confirm" (click)="deliverOrder()">Entregar
                                    orden</button>
                            </div>
                        </div>
                        <br>

                    </div>

                </div>

            </div>

        </div>

    </div>
</ng-template>



<ng-template #buyArticle let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Actualizando artículo</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">


        <div class="row">
            <div class="cold-md-12">
                <div class="bold" style="font-size: 16px; margin-left: 5px; margin-right: 5px; margin-bottom: 8px;">
                    {{currentArticle.Title}}</div>
            </div>
        </div>

        <div class="row">
            <div class="cold-md-4">
                <img style="border-radius: 15px; margin-left: 5px;"
                    src="{{coreURL}}api/market/GetImageByArticleId?id={{currentArticle.ArticleId}}&width=125&height=125">
            </div>

            <div class="cold-md-8">
                <h5 class="bold" style="margin-left: 15px; margin-right: 5px;">{{currentArticle.Price |
                    currency}} <span style="font-size: 10px; color: red;">{{currentArticle.CurrencyCode}}</span> </h5>

                <h6 *ngIf="currentArticle.UseStock" class="bold" style="margin-left: 15px; margin-right: 5px;">
                    Existencia:
                    {{currentArticle.Stock}}</h6>

                <h6 *ngIf="currentArticle.MinQuantity" class="bold" style="margin-left: 15px; margin-right: 5px;">Venta
                    mínima: {{currentArticle.MinQuantity}}</h6>

                <h6 *ngIf="currentArticle.MaxQuantity" class="bold" style="margin-left: 15px; margin-right: 5px;">Venta
                    maxima: {{currentArticle.MaxQuantity}}</h6>

                <h6 class="bold" style="margin-left: 15px; margin-right: 5px;">Vendedor: {{provider}}</h6>
                <h6 class="bold" style="margin-left: 15px; margin-right: 5px;">Contacto: {{providerPhoneNumber}}</h6>

                <h6 class="bold" style="margin-left: 15px; margin-right: 5px; margin-top: 12p;">Cantidad a comprar:
                    <input type="number" class="bold"
                        style="border-radius: 8px; width: 60px; background-color: rgb(173, 219, 233)"
                        [(ngModel)]="currentArticleQuantity"></h6>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label for="note" class="bold">Ingrese su nota si deseas</label>
                <textarea [(ngModel)]="itemNote" class="form-control" rows="2">

                </textarea>
            </div>
        </div>

        <div class="row center">
            <div class="cold-md-12">
                <button type="button" (click)="addArticle(currentArticle, currentArticleQuantity, itemNote)"
                    class="btn btn-success bold"
                    style="width: 250px; border-radius: 15px; margin-left: 15px; margin-right: 5px; margin-top: 10px; font-size: 16px;">Guardar</button>
            </div>
        </div>

        <div *ngIf="showButtonDeleteItem" class="row center">
            <div class="cold-md-12">
                <button type="button" (click)="deleteArticle(currentArticle)" class="btn btn-danger bold"
                    style="width: 250px; border-radius: 15px; margin-left: 15px; margin-right: 5px; margin-top: 10px; font-size: 16px;">Eliminar
                    del carrito</button>
            </div>
        </div>

    </div>
</ng-template>