
<br>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-lg-12">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="searchText"
        [ngModelOptions]="{standalone: true}">
    </div>
  </div>
</div>

<div class="table-responsive">
  <button type="button" class="btn btn-success" (click)="openCreateModal(createModal)"><i
      class="fa fa-plus"></i>&nbsp;Crear publicacion</button>
  <table class="table table-hover table-bordered table-condensed">
    <thead>
      <tr class="tabl_eHeader_Color">
        <th>Código</th>
        <th>Título</th>
        <th>Precio</th>
        <th>Categoría</th>
        <th>Subcategoría</th>
        <th>Tipo de mercado</th>
        <th class="right" *ngIf="canDelete"></th>
        <th class="right" *ngIf="canCreate"><button type="button" class="btn btn-success"
            (click)="openCreateModal(createModal)"><i class="fa fa-plus"></i>&nbsp;Crear publicacion</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of markets | filter : searchText | paginate: { itemsPerPage: 10, currentPage: _currentPage}">
        <td>{{item.Id}}</td>
        <td>{{item.Title}}</td>
        <td>{{item.Price | currency}} &nbsp; <span class="bold">{{item.Currency}}</span></td>
        <td>{{item.Category}}</td>
        <td>{{item.SubCategory}}</td>
        <td>{{item.MarketType}}</td>
        <td class="right" *ngIf="canDelete"> <button type="button" class="btn btn-danger" (click)="delete(item.Id)"><i
              class="fa fa-remove"></i>&nbsp;Eliminar</button> </td>
        <td class="right" *ngIf="canEdit"><button type="button" class="btn btn-primary"
            (click)="openEditModal(editModal, item.Id)"><i class="fa fa-pencil"></i>&nbsp;Editar</button></td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="_currentPage = $event" autoHide="true" responsive="true" previousLabel="Anterior"
    nextLabel="Siguiente">
  </pagination-controls>
</div>



<!--Create modal-->
<ng-template #createModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Publicando artículo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <ngb-tabset [destroyOnHide]="false">

      <!--Agregar fotos-->
      <ngb-tab>
        <ng-template ngbTabTitle>
          <div class="bold">Subir fotos</div>
        </ng-template>

        <ng-template ngbTabContent>

          <h5 class="bold" style="color: rgb(13, 141, 13);">Puedes subir un máximo de {{imageQuantityMarketDetail}}
            fotos</h5>
          <br>

          <div class="form-group">
            <div class="form-group">
              <input fileToBase64 type="file" [(files)]="inputFilesMultiple" (filesChange)="uploadFile($event)"
                multiple="" accept='image/*'>
            </div>
          </div>

          <div class="imgDetail">
            <div *ngFor="let item of inputFilesMultiple; let i = index" [attr.data-index]="i"
              style="margin-bottom: 25px;">

              <h6 class="bold">{{item.name}} <span (click)="removeImg(i)" class="btn btn-danger"> <i
                    class="fa fa-remove">&nbsp;Remover</i> </span> </h6>
              <a>
                <img src="{{item.base64}}" style="width: 200px; height: 200px;">
              </a>
              <h4 class="bold" style="color: red;">{{i + 1}}</h4>

            </div>
          </div>

        </ng-template>

      </ngb-tab>

      <!--Datos generales-->
      <ngb-tab>
        <ng-template ngbTabTitle>
          <div class="bold">Datos generales</div>
        </ng-template>

        <ng-template ngbTabContent>

          <form [formGroup]="createForm" (submit)="create(createForm.value)">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">

                  <h5 *ngIf="!validateImg" style="color: red;" class="center">Favor cargue la foto principal del
                    artículo</h5>
                  <a>
                    <img src="{{market.Img}}" class="center" style="width: 200px; height: 200px;">
                  </a>
                  <br>
                  <div class="form-group">
                    <div class="form-group">
                      <input fileToBase64 type="file" [(files)]="inputFiles" (filesChange)="uploadFile($event)"
                        multiple="" accept='image/*'>
                    </div>
                  </div>
                  <br>

                  <label for="title" class="bold">Título</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i></i></span>
                    </div>
                    <input type="text" formControlName="title" class="form-control" placeholder="Título" maxlength="60">
                    <div *ngIf="!createForm.value.title" class="required">*</div>
                  </div>

                  <label for="description" class="bold">Descripción</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <textarea rows="10" class="espacios" formControlName="description" class="form-control"
                      placeholder="Campo opcional">{{market.Description}}</textarea>
                  </div>

                  <label for="marketTypeId" class="bold">Tipo de mercado</label>
                  <div class="row">
                    <div class="col-md-12">
                      <ng-select [items]="marketTypes" bindLabel="Description" bindValue="Id" virtualScroll="true"
                        placeholder="Tipo de mercado" formControlName="marketTypeId">
                      </ng-select>
                      <div *ngIf="!createForm.value.marketTypeId" class="required">*</div>
                    </div>
                  </div>

                  <br>
                  <label for="price" class="bold">Precio</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i></i></span>
                    </div>
                    <input type="number" formControlName="price" class="form-control" placeholder="Precio"
                      [readonly]="createForm.value.marketTypeId === 3">
                    <span style="color: red;">Si el precio es igual a 0 no se muestra al cliente</span>
                  </div>

                  <label for="currencyId" class="bold">Moneda</label>
                  <div class="row">
                    <div class="col-md-12">
                      <ng-select [items]="currencies" bindLabel="Description" bindValue="Id" virtualScroll="true"
                        placeholder="Moneda" formControlName="currencyId"
                        [readonly]="createForm.value.marketTypeId === 3">
                      </ng-select>
                      <div *ngIf="!createForm.value.currencyId" class="required">*</div>
                    </div>
                  </div>

                  <br>
                  <label for="conditionId" class="bold">Condición</label>
                  <div class="row">
                    <div class="col-md-12">
                      <ng-select [items]="conditions" bindLabel="Description" bindValue="Id" virtualScroll="true"
                        placeholder="Condición" formControlName="conditionId">
                      </ng-select>
                      <div *ngIf="!createForm.value.conditionId" class="required">*</div>
                    </div>
                  </div>

                  <br>
                  <label for="categoryId" class="bold">Categoría</label>
                  <div class="row">
                    <div class="col-md-12">
                      <ng-select [items]="categories" bindLabel="Description" bindValue="Id" virtualScroll="true"
                        placeholder="Categoría" formControlName="categoryId"
                        (change)="getSubCategories_ByCategoryId($event.Id)">
                      </ng-select>
                      <div *ngIf="!createForm.value.categoryId" class="required">*</div>
                    </div>
                  </div>

                  <br>
                  <label for="subCategoryId" class="bold">Sub categoría</label>
                  <div class="row">
                    <div class="col-md-12">
                      <ng-select [items]="subCategories" bindLabel="Description" bindValue="Id" virtualScroll="true"
                        placeholder="Sub categoría" formControlName="subCategoryId">
                      </ng-select>
                      <div *ngIf="!createForm.value.subCategoryId" class="required">*</div>
                    </div>
                  </div>

                  <br>
                  <label for="phoneNumber" class="bold">Teléfono</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i></i></span>
                    </div>
                    <input type="number" formControlName="phoneNumber" class="form-control" placeholder="Teléfono">
                    <div *ngIf="!createForm.value.phoneNumber" class="required">*</div>
                  </div>

                  <br>
                  <label for="ubication" class="bold">Ubicación</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i></i></span>
                    </div>
                    <input type="text" formControlName="ubication" class="form-control" placeholder="Ubicación">
                    <div *ngIf="!createForm.value.ubication" class="required">*</div>
                  </div>

                  <div *ngIf="buttonSave" class="row center">
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-primary"
                        style="font-size: 25px; width: 200px; border-radius: 22px;"
                        [disabled]="createForm.invalid">Publicar</button>
                    </div>
                  </div>
                  <h2 class="center" *ngIf="!buttonSave" style="color: rgb(11, 141, 216);">Espere mientras se procesan
                    los datos... <i class="fa fa-circle-o-notch fa-spin" style="font-size:40px"></i></h2>

                </div>

              </div>

            </div>
          </form>

        </ng-template>

      </ngb-tab>

    </ngb-tabset>

  </div>
</ng-template>


<!--Edit modal-->
<ng-template #editModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Editando artículo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="editForm" (submit)="edit(editForm.value)">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
              </div>
              <div class="card-body">

                <a *ngIf="market.Img">
                  <img src="{{market.Img}}" class="center" style="width: 200px; height: 200px;">
                </a>

                <a *ngIf="!market.Img">
                  <img src="{{coreURL}}api/market/GetImageByArticleId?id={{market.Id}}&width=200&height=200"
                    class="center" style="width: 200px; height: 200px;">
                </a>

                <br>
                <div class="form-group">
                  <div class="form-group">
                    <input fileToBase64 type="file" [(files)]="inputFiles" (filesChange)="uploadFile($event)"
                      multiple="" accept='image/*'>
                  </div>
                </div>
                <br>

                <label for="title" class="bold">Título</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i></i></span>
                  </div>
                  <input type="text" formControlName="title" class="form-control" placeholder="Título" maxlength="60">
                  <div *ngIf="!editForm.value.title" class="required">*</div>
                </div>

                <label for="description" class="bold">Descripción</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <textarea rows="10" class="espacios" formControlName="description" class="form-control"
                    placeholder="Campo opcional">{{market.Description}}</textarea>
                </div>

                <label for="marketTypeId" class="bold">Tipo de mercado</label>
                <div class="row">
                  <div class="col-md-12">
                    <ng-select [items]="marketTypes" bindLabel="Description" bindValue="Id" virtualScroll="true"
                      placeholder="Tipo de mercado" formControlName="marketTypeId">
                    </ng-select>
                    <div *ngIf="!editForm.value.marketTypeId" class="required">*</div>
                  </div>
                </div>

                <br>
                <label for="price" class="bold">Precio</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i></i></span>
                  </div>
                  <input type="number" formControlName="price" class="form-control" placeholder="Precio"
                    [readonly]="editForm.value.marketTypeId === 3">
                  <span style="color: red;">Si el precio es igual a 0 no se muestra al cliente</span>
                </div>

                <label for="currencyId" class="bold">Moneda</label>
                <div class="row">
                  <div class="col-md-12">
                    <ng-select [items]="currencies" bindLabel="Description" bindValue="Id" virtualScroll="true"
                      placeholder="Moneda" formControlName="currencyId" [readonly]="editForm.value.marketTypeId === 3">
                    </ng-select>
                    <div *ngIf="!editForm.value.currencyId" class="required">*</div>
                  </div>
                </div>
                <br>

                <label for="conditionId" class="bold">Condición</label>
                <div class="row">
                  <div class="col-md-12">
                    <ng-select [items]="conditions" bindLabel="Description" bindValue="Id" virtualScroll="true"
                      placeholder="Condición" formControlName="conditionId">
                    </ng-select>
                    <div *ngIf="!editForm.value.conditionId" class="required">*</div>
                  </div>
                </div>

                <br>
                <label for="categoryId" class="bold">Categoría</label>
                <div class="row">
                  <div class="col-md-12">
                    <ng-select [items]="categories" bindLabel="Description" bindValue="Id" virtualScroll="true"
                      placeholder="Categoría" formControlName="categoryId"
                      (change)="getSubCategories_ByCategoryId($event.Id)">
                    </ng-select>
                    <div *ngIf="!editForm.value.categoryId" class="required">*</div>
                  </div>
                </div>

                <br>
                <label for="subCategoryId" class="bold">Sub categoría</label>
                <div class="row">
                  <div class="col-md-12">
                    <ng-select [items]="subCategories" bindLabel="Description" bindValue="Id" virtualScroll="true"
                      placeholder="Sub categoría" formControlName="subCategoryId">
                    </ng-select>
                    <div *ngIf="!editForm.value.subCategoryId" class="required">*</div>
                  </div>
                </div>

                <br>
                <label for="phoneNumber" class="bold">Teléfono</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i></i></span>
                  </div>
                  <input type="number" formControlName="phoneNumber" class="form-control" placeholder="Teléfono">
                  <div *ngIf="!editForm.value.phoneNumber" class="required">*</div>
                </div>

                <br>
                <label for="ubication" class="bold">Ubicación</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i></i></span>
                  </div>
                  <input type="text" formControlName="ubication" class="form-control" placeholder="Ubicación">
                  <div *ngIf="!editForm.value.ubication" class="required">*</div>
                </div>

                <div *ngIf="buttonSave" class="row center">
                  <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary"
                      style="font-size: 25px; width: 200px; border-radius: 22px;"
                      [disabled]="editForm.invalid">Guardar</button>
                  </div>
                </div>
                <h2 class="center" *ngIf="!buttonSave" style="color: rgb(11, 141, 216);">Espere mientras se procesan los
                  datos... <i class="fa fa-circle-o-notch fa-spin" style="font-size:40px"></i> </h2>

              </div>
            </div>
          </div>

        </div>

      </div>
    </form>

  </div>
</ng-template>