// Here you can add other styles

.required{
    color: red;
    font-weight: bold;
    font-size: 20px;
  }
  
  .espacios{
    white-space: pre-wrap;
  }

.td_min {
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .btn{
    border-radius: 4px;
  }

  .colorBorder{
    border-radius: 5px;
  }

  .bold{
    font-weight: bold;
  }

